<div class="form-container">
    <form [formGroup]="shortReadsForm" (ngSubmit)="onSubmit()">
      <div class="container">
        <label for="id">ShortReads Unique Id:</label>
        <input
          type="text"
          name="newsUid"
          id="id"
          placeholder="Ex: 20S101"
          formControlName="shortReadsUid"
        />
        <span
          *ngIf="(shortReadsForm.controls['shortReadsUid'].touched || shortReadsForm.controls['shortReadsUid'].dirty) && (shortReadsForm.controls['shortReadsUid'].errors?.['required'])"
        >
        shortReads unique id is required
        </span>
      </div>
  
      <div class="container">
        <label for="category">Category:</label>
        <select name="category" id="category" formControlName="category">
          <option value="">Select category</option>
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
        <span
          *ngIf="(shortReadsForm.controls['category'].touched || shortReadsForm.controls['category'].dirty) && (shortReadsForm.controls['category'].errors?.['required'])"
        >
          select category
        </span>
      </div>
  
      <div class="container">
        <label for="title">Title:</label>
        <input
          type="text"
          name="title"
          id="title"
          placeholder="Ex: Benefits of Amla."
          formControlName="title"
        >
        <span
          *ngIf="(shortReadsForm.controls['title'].touched || shortReadsForm.controls['title'].dirty) && (shortReadsForm.controls['title'].errors?.['required'])"
        >
          select category
        </span>
      </div>
  
      <div class="container img">
        <div class="img-div">
          <p>
            Upload images: (name should be same as unique id, if multiple
            20S101-1, 20S101-2)
          </p>
          <label for="img"><i class="fa-solid fa-cloud-arrow-up"></i></label>
          <input
            type="file"
            name="images"
            id="img"
            accept=".jpg, .jpeg, .png"
            (change)="uploadImages($event)"
            formControlName="images"
          />
        </div>
        <span class="span-img">
          <p *ngIf="image">
            {{ image.name }}
            <button type="button" (click)="remove()">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </p>
        </span>
        <span
          *ngIf="((shortReadsForm.controls['images'].touched || shortReadsForm.controls['images'].dirty) && shortReadsForm.controls['images'].errors?.['required'])"
        >
          upload image
        </span>
        <span *ngIf="imgError"> invalid image name format! </span>
      </div>
  
      <div class="content container">
        <label>ShortReads contents:</label>
        <span
          *ngIf="((shortReadsForm.controls['content'].touched || shortReadsForm.controls['content'].dirty) && shortReadsForm.controls['content'].errors?.['required'])"
        >
          content is required
        </span>
        <editor
          [init]="editorConfig"
          name="content"
          formControlName="content"
        ></editor>
      </div>
  
      <div>
        <button type="submit" [disabled]="shortReadsForm.invalid" class="submit">
          Upload
        </button>
      </div>
  
      <div *ngIf="status">
        {{ status }}
      </div>
    </form>
  </div>
