<div class="container" >
  <div class="list" [ngClass]="status.status === 'accepted'?'green':status.status === 'rejected'?'red':''">
    <img
      [src]="
        type === 'organization'
          ? requestOrganization?.organizationPhoto
          : requestVeterinaryDoctor?.degreeCertificate
      "
      alt=""
    />
    <div class="details">
      <div class="profile">
        <img
          class="dp"
          *ngIf="type === 'veterinaryDoctor'"
          [src]="requestVeterinaryDoctor?.profilePhoto"
          alt=""
        />
        {{
          type === "veterinaryDoctor"
            ? requestVeterinaryDoctor?.name
            : requestOrganization?.name
        }}
      </div>
      <span *ngIf="type === 'veterinaryDoctor'">Degree : {{requestVeterinaryDoctor?.degree}}</span>
      <span> Email ID : {{type === 'organization'? requestOrganization?.email: requestVeterinaryDoctor?.email}}</span>
      <span> Contact Number : {{type === 'organization'? requestOrganization?.contactNumber: requestVeterinaryDoctor?.contactNumber}}</span>
    </div>
    <div class="location">
        Location Details
        <span> Door No : {{type === 'organization'? requestOrganization?.location?.doorNo: requestVeterinaryDoctor?.location?.doorNo}}</span>
        <span> Street : {{type === 'organization'? requestOrganization?.location?.street: requestVeterinaryDoctor?.location?.street}}</span>
        <span> City : {{type === 'organization'? requestOrganization?.location?.city: requestVeterinaryDoctor?.location?.city}}</span>
        <span> District : {{type === 'organization'? requestOrganization?.location?.district: requestVeterinaryDoctor?.location?.district}}</span>
        <span> State : {{type === 'organization'? requestOrganization?.location?.state: requestVeterinaryDoctor?.location?.state}}</span>
        <span> Country : {{type === 'organization'? requestOrganization?.location?.country: requestVeterinaryDoctor?.location?.country}}</span>
    </div>
    <div class="status">
        <button type="button" (click)="updateStatus(type === 'organization'? requestOrganization?._id: requestVeterinaryDoctor?._id,'accepted')">Accept</button>
        <button type="button" (click)="updateStatus(type === 'organization'? requestOrganization?._id: requestVeterinaryDoctor?._id,'rejected')">Reject</button>
    </div>
  </div>
</div>
