<div class="container">
  <div class="filter">
    <form (ngSubmit)="search()" class="form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>name</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="name"
                 matInput
                 [matAutocomplete]="autoname"
                 (input)="getNames()"
                 [(ngModel)]="name"
                 name="name">
          <mat-autocomplete #autoname="matAutocomplete">
            <mat-option *ngFor="let name of names" [value]="name">
              {{name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>city</mat-label>
            <input type="text"
                   placeholder="Pick one"
                   aria-label="city"
                   matInput
                   [matAutocomplete]="autocity"
                   (input)="getcity()"
                   [(ngModel)]="city"
                   name="city">
            <mat-autocomplete #autocity="matAutocomplete">
              <mat-option *ngFor="let city of cites" [value]="city">
                {{city}} 
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
       
        <button mat-flat-button>Apply Filter</button>
      </form>
</div>
    <div class="details" *ngFor="let veterinaryDoctor of veterinaryDoctors">
      <img [src]="veterinaryDoctor.profilePhoto" alt="" class="profile"/>
      <div class="card">
          Doctor Details: <br>
        <span>Name : {{ veterinaryDoctor.name }}</span>
        <span>Degree : {{ veterinaryDoctor.degree }}</span>
        <span>Contact Number : {{ veterinaryDoctor.contactNumber }}</span>
        <span>Email Id : {{ veterinaryDoctor.email }}</span>
        <button  type="button" (click)="sendRequest(veterinaryDoctor._id)">Request Appointment</button>
      </div>
      <div class="card">
          Location Details: <br>
          <span>Street : {{ veterinaryDoctor.location.street }}</span>
          <span>City : {{ veterinaryDoctor.location.city }}</span>
          <span>District : {{ veterinaryDoctor.location.district }}</span>
          <span>State : {{ veterinaryDoctor.location.state }}</span>
          <span>Country : {{ veterinaryDoctor.location.country  }}</span>
        </div>
    </div>
  </div>
  