div {
    margin: 60px;
    margin-bottom: 10px;
}

h2 {
    padding-top: 10px;
    padding-left: 20px;
}

.header {
    padding: 20px;
    border-bottom: 1px solid black;
}

.content {
    padding: 0px 20px;
    font-size: 14.5px;
}

.card {
    margin-bottom: 30px;
    background-color: rgb(195, 228, 238);
}

img {
    float: left;
    padding-right: 10px;
}

button {
    text-align: center;
    margin-left: 45%;
    margin-bottom: 20px;
    background-color: rgb(199, 199, 199);
}