.home-image {
   width: 100%;
   height: 500px;
}


h2 {
   text-align: center;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

.story {
   padding: 20px;
   height: 300px;
   background-image: url("/assets/images/bcimage.png");
}

.inner-story {
   margin-left: 230px;
   text-align: center;
   padding: 10px;
   background-color: whitesmoke;
   width: 800px;
   border-radius: 5px;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
   padding: 10px;
   background-color: rgb(43, 80, 182);
   color: white;
}

.button {
   color: white;
}

.students-list {
   display: flex;
   margin: 10px;
   margin-bottom: 0;
   flex-direction: row;
   padding: 10px;
   flex-wrap: wrap;
   justify-content: space-around;
}

.find-button {
   align-self: center;
   margin-top: 10px;
}

.topic {
   text-align: center;
   color: rgb(3, 3, 87);
}

.example-card {
   width: 20%;
   height: 20%;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 20px;
   background-size: auto;
   background-color: rgb(200, 200, 232);
}

.find-more {
   margin-top: 100px;
}

.students-info {
   background-color: rgb(227, 230, 255);
}