<div class="container">
    <div class="left-container">
        <div>
            <p class="p">Welcome to Doctor Appointment <br>Booking Application</p>
        </div>
        <button mat-raised-button color="primary" (click)="login()" class="buttons">Get Started</button>
        <!-- <button mat-raised-button color="primary" (click)="openDialog()" class="buttons">Get Started</button> -->
    </div>
    <div class="right-container">
        <img class="image" src="../assets/image/doctor.jpg">
    </div>
</div>