@import "~@fortawesome/fontawesome-free/css/all.css";
@import "/src/styles/variables";

.container {
  padding-left: 30px;
  padding-top: 40px;
}

.table-container {
  width: fit-content;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

td {
  text-align: left;
  font-family: $font-family;
}

th {
  font-family: $font-family;
  font-weight: bold;
}

ul {
  padding-left: 0px;
}

.button-div{
  display:flex;
}

.button{
  background-color: $secondary-color;
  padding: 5px;
  cursor: pointer;
  border: none;
  text-align: center;
  color: white;
  font-family: $font-family;
  margin-right: 10px;
}

button {
  background-color: transparent;
  padding: 5px;
  font-family: $font-family;
  cursor: pointer;
}
