<div *ngIf="adoptionStatuses.length === 0; else pending">
  You Have Not Requested For Adoption
</div>
<ng-template #pending>
  <div class="container">
    <div class="details" *ngFor="let adoptionStatus of adoptionStatuses">
      <img [src]="adoptionStatus.petPostId.images" alt="" class="profile" />
      <div class="card">
        Pet Details: <br />
        <span>Category : {{ adoptionStatus.petPostId.category }}</span>
        <span>Breed : {{ adoptionStatus.petPostId.breed }}</span>
        <span>Gender : {{ adoptionStatus.petPostId.gender }}</span>
      </div>
      <div class="card">
        <span> Status : {{ adoptionStatus.status }}</span>
      </div>
    </div>
  </div>
</ng-template>
