<div class="form-container">
    <h2>Welcome Back!</h2>
    <h3>Login into your account!</h3>
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">

        <div>
            <label for="email">Email:</label>
            <input type="text" #email="ngModel" id="email" placeholder="Enter email" ngModel name="email" required>
            <span *ngIf="!email.valid && (email.touched || email.dirty)">
                Please enter valid email
            </span>
        </div>

        <div>
            <label for="pword">Password:</label>
            <input type="text" #pword="ngModel" id="pword" placeholder="Enter password" ngModel name="password" required minlength="6">
            <span *ngIf="!pword.valid && (pword.touched || pword.dirty)">
                <span *ngIf="pword.errors?.['minlength']">
                    Minimum length is 6 characters
                </span>
                <span *ngIf="pword.errors?.['required']">
                    Please enter valid password
                </span>
            </span>
        </div>

        <div class="button-div">
            <button type="submit" [disabled]="!loginForm.valid">LOGIN</button><br>
            <a routerLink="/pword">Forget Password?</a>
        </div>
    </form>
    <div *ngIf="errorStatus" class="error-msg">
        <p><i class="fa fa-exclamation-triangle"></i>There is a problem logging in.Check your password or email! </p>
    </div>
</div>
<router-outlet></router-outlet>