*{
    font-size: 18px;
    font-family: Georgia;
}

.body-tag{
    background-image: url(7246092.jpg);
    background-size: cover; 
    filter: blur();
}

.outer-div{
    margin-top: 5%;
    margin-left: 27%;
    margin-bottom: 5%;
    margin-right: 25%;
}

.quiz-form{
    background-color: rgb(186, 224, 173);
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
}

.section-div{
    margin-bottom: 40px;
}

.question-div{
    margin-bottom: 10px;
}

.question-div label{
    font-weight: bold;
    /* margin: 10px 2px 10px 2px; */
    /* margin-bottom: 500px; */
}

.options-div{
    display: grid;    
    grid-template-columns: 15% 1fr;
    row-gap: 10px
    ;
}

.answer-div{
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.score-div{
    margin-top: 30px;
    text-align: center;
}

.hidden{
    display: none;
}

.
/* 
@media only screen and (max-width: 600px) {
    .body-tag{
        background-color: red;
    }
} */
