* {
    font-size: 18px;
    font-family: Georgia;
}

.body-tag {
    background-image: url(bakgroundimg5.jpg);
    background-size: cover;
}

.outer-div {
    margin-top: 5%;
    margin-left: 27%;
    margin-bottom: 5%;
    margin-right: 25%;
}

.quiz-form {
    background-color: rgb(255, 255, 255);
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    border-radius: 20px;
}

.section-div {
    margin-bottom: 40px;
}

.question-div {
    font-weight: bold;
    margin-bottom: 10px;
}

.select-div-option{
    padding-left: 10%;
    padding-right: 20%;
}

.options-div div{
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    row-gap: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-right: 30%;
}

input::target-text{
    
}

input:hover {
    cursor: pointer;
}

label:hover {
    cursor: pointer;
}

.answer-div {
    margin-top: 20px;
    font-style: oblique;
    font-weight: 550;
    color: rgb(91, 126, 56);
}

.score-div {
    font-size: 40px;
    margin-top: 40px;
    text-align: center;
}

.hidden {
    display: none;
}

.hidden-correct{
    background-color: rgb(57, 173, 57);
}

.hidden-wrong{
    background-color: rgb(228, 84, 84);
}

button {
    color: white;
    background-color: rgb(45, 97, 45);
    border: none;
    padding-top: 13px;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-right: 20px;
    margin-top: 25px;
    margin-left: 12%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

button:hover {
    cursor: pointer;
}

/* 
@media only screen and (max-width: 600px) {
    .body-tag{
        background-color: red;
    }
} */