.home-container {
    margin-top: 10px;
    height: 360px;
}

.home-container img {
    height: 350px;
    width: 100%;
}

.home-container .text-container {
    position: relative;
    top: -250px;
    left: 630px;
    box-shadow: 0 4px 8px 0 rgb(193, 199, 201);
    transition: 0.3s;
    font-family: "Abhaya Libre";
    width: 30%;
    height: 200px;
    padding: 20px;
    background-color: #9fd3c7;
    p{
        font-size: 25px;
    }
    h3{
        font-size: 30px;
    }
}