<div class="spinner-container" *appRoutehide="spinner">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="container" *appRoutehide="!spinner">
    <div *ngFor="let article of articles" class="card">
      <div class="img-div">
        <img src="{{ article.images[0] }}" alt="img" />
      </div>
      <div class="content-div">
        <div class="div-flex">
          <span>Report | {{ article.date | date}}</span>
          <a [routerLink]="['/user/display-article', article.id]">
            {{ article.title }}</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="button" *appRoutehide="!spinner">
    <button type="button" (click)="loadMore()">Load more...</button>
  </div>
  
