<div class="container">
  <div class="mat-elevation-z8" class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="profilePhoto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Profile Photo</th>
        <td mat-cell *matCellDef="let row">
          <img src="{{row.profilePhoto}}" alt="">
        </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last name</th>
        <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>email</th>
        <td mat-cell *matCellDef="let row">
          {{ row.email.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
        <td mat-cell *matCellDef="let row">{{ row.phoneNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
        <td mat-cell *matCellDef="let row">{{ row.gender }}</td>
      </ng-container>

      <ng-container matColumnDef="countryOfBirth">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Country Of Birth</th>
        <td mat-cell *matCellDef="let row">{{ row.countryOfBirth }}</td>
      </ng-container>

      <ng-container matColumnDef="countryOfResidence">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Country Of Residence</th>
        <td mat-cell *matCellDef="let row">{{ row.countryOfResidence }}</td>
      </ng-container>

      <ng-container matColumnDef="dateOfBirth">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Of Birth</th>
        <td mat-cell *matCellDef="let row">{{ row.dateOfBirth }}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
        <td mat-cell *matCellDef="let row">{{ row.address }}</td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
        <td mat-cell *matCellDef="let row">{{ row.city }}</td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
        <td mat-cell *matCellDef="let row">{{ row.state }}</td>
      </ng-container>

      <ng-container matColumnDef="zipCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Zip Code</th>
        <td mat-cell *matCellDef="let row">{{ row.zipCode }}</td>
      </ng-container>

      <ng-container matColumnDef="school">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>School</th>
        <td mat-cell *matCellDef="let row">{{ row.school }}</td>
      </ng-container>

      <ng-container matColumnDef="aadharCardProof">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Aadhar Card Proof</th>
        <td mat-cell *matCellDef="let row"> <img src="{{row.aadharCardProof}}" alt=""></td>
      </ng-container>

      <ng-container matColumnDef="incomeProof">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Income Proof</th>
        <td mat-cell *matCellDef="let row"><img src="{{ row.incomeProof }}" alt=""></td>
      </ng-container>

      <ng-container matColumnDef="collegeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>College Name</th>
        <td mat-cell *matCellDef="let row">{{ row.collegeName }}</td>
      </ng-container>

      <ng-container matColumnDef="yearOfStudy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Year Of Study</th>
        <td mat-cell *matCellDef="let row">{{ row.yearOfStudy }}</td>
      </ng-container>

      <ng-container matColumnDef="studentIdentityProof">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Identity Proof</th>
        <td mat-cell *matCellDef="let row"><img src="{{ row.studentIdentityProof }}" alt=""></td>
      </ng-container>

      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Course</th>
        <td mat-cell *matCellDef="let row">{{ row.course }}</td>
      </ng-container>

      <ng-container matColumnDef="studentId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Id</th>
        <td mat-cell *matCellDef="let row">{{ row.studentId }}</td>
      </ng-container>

      <ng-container matColumnDef="fundRequired">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fund Required</th>
        <td mat-cell *matCellDef="let row">{{ row.fundRequired }}</td>
      </ng-container>

      <ng-container matColumnDef="feeDetails">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fee Details</th>
        <td mat-cell *matCellDef="let row"><img src="{{ row.feeDetails }}" alt=""></td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
        <td mat-cell *matCellDef="let row">{{ row.endDate }}</td>
      </ng-container>

      <ng-container matColumnDef="shortStory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Short Story</th>
        <td mat-cell *matCellDef="let row">{{ row.shortStory }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">{{ row.status }}</td>
      </ng-container>

      <ng-container matColumnDef="approval">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Approval</th>
        <td mat-cell *matCellDef="let row">
          <div class="button">
            <button mat-button class="approve" (click)="setApproved(row.firstName,row)">Approve</button>
            <button mat-button class="reject" (click)="setRejected(row)">Reject</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator #paginator [length]="paginator.length" [pageSize]="paginator.pageSize"
      [pageIndex]="paginator.pageIndex" (page)="nextPage($event)" [pageSizeOptions]="[3, 6, 9, 100]"
      aria-label="Select page of users"></mat-paginator>
  </div>
</div>