<div class="spinner-container" *appRoutehide="spinner">
    <mat-spinner diameter="50"></mat-spinner>
  </div>

<div class="container" *appRoutehide="!spinner">
    <div class="header">
        <div class="heading" *ngIf="news">
            <h2>{{ news.title }}</h2>
            <p>{{ news.category }}</p>
            <p>Report | {{ news.date }}</p>
        </div>
        <div class="button">
            <button mat-button matTooltip="Save for later" matTooltipClass="example-tooltip-uppercase"
                aria-label="Button that shows a red tooltip">
                <i class="fa-regular fa-bookmark"></i>
            </button>
        </div>
    </div>
    <hr />
    <div class="content" *ngIf="news">
        <div *ngFor="let image of news.images" class="image">
            <img src="{{ image }}" alt="image" />
        </div>
        <div [innerHtml]="news.content"></div>
    </div>
</div>