<div class="container">
    <div class="registerBox">
      
      <div class="logout">
        <h1 class="head">Profile Details</h1>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="logout-menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
      <form class="form" [formGroup]="formResponse" (ngSubmit)="register()">
          <label class="labels">Profile Photo</label>
          <div class="profile">
            
              <img [src]="user.profilePhoto" alt="">
             <input
                type="file"
                formControlName="image"
                id="upload"
                (change)="getProfile($event)"
              /></div>
          
        <mat-form-field class="feild">
          <mat-label>Full Name</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>
        
        <mat-form-field class="feild">
          <mat-label>Contact Number</mat-label>
          <input type="text" matInput formControlName="contactNumber" />
        </mat-form-field>
        Location Details
        <div formGroupName="location" class="location">
          <mat-form-field class="feild">
            <mat-label>Door No</mat-label>
            <input type="text" matInput formControlName="doorNo" />
          </mat-form-field>
          <mat-form-field class="feild">
            <mat-label>street</mat-label>
            <input type="text" matInput formControlName="street" />
          </mat-form-field>
          <mat-form-field class="feild">
            <mat-label>City</mat-label>
            <input type="text" matInput formControlName="city" />
          </mat-form-field>
          <mat-form-field class="feild">
            <mat-label>District</mat-label>
            <input type="text" matInput formControlName="district" />
          </mat-form-field>
          <mat-form-field class="feild">
            <mat-label>State</mat-label>
            <input type="text" matInput formControlName="state" />
          </mat-form-field>
          <mat-form-field class="feild">
            <mat-label>Country</mat-label>
            <input type="text" matInput formControlName="country" />
          </mat-form-field>
        </div>
  
        <button mat-flat-button  type="submit">update</button>
      </form>
    </div>
    <div>
      <div>Payment Details <button mat-flat-button  type="submit" (click)="payment()">Proceed to payment </button></div>
      <div class="payment">
        <span>Current Plan : {{subscription.currentPlan.amount}}</span>
        <span>Subscribed On : {{subscription.subscribedOn | date | date : "medium"}}</span>
        <span>Valid Till : {{subscription.validTill | date | date : "medium"}}</span>
        History
        <div class="history" *ngFor="let plan of (subscription.history === null?historys:subscription.history)">
          <span>Amount Paid : {{plan.plan.amount}}</span>
        <span>Validity : {{plan.plan.months}} months</span>
        <span>Subscribed On : {{plan.subscribedOn}}</span>
        </div>
      </div> 
    </div>
    
  </div>
  