.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    gap: 20px;
}

.left-section {
    display: flex;
    align-items: center;
}

.right-section {
    display: flex;
    flex-direction: column;
}

.slider-section {
    margin-top: auto;
}

.story-section {
    grid-column: span 2;
}

body {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url('/assets/images/aboutus.avif') 30 round;
    margin-right: 0px;
    background-image: url('/assets/images/indstudent.jpeg');
    overflow-x: hidden;
    overflow-y: hidden;
}

.pay-button {
    margin-top: 10px;
    padding: 0px 20px;
    background-color: rgb(3, 3, 175);
    color: white;
}

.example-margin {
    width: 100%;
}