.ind-student {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.info {
    padding: 10px;
}

img {
    background-size: cover;
    height: 220px;
    width: 250px;
}

body {
    background-image: url("../../../assets/images/indstudent.jpeg");
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.story {
    margin-bottom: 0;
}

.example-value-label {
    display: block;
}

.student {
    margin-left: 350px;
}