#container {
    margin-left: 300px;
    margin-top: 50px;
    padding: 50px;
    width: 50%;
    background-color: rgb(234, 224, 224);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#container h1,h4 {
    text-align: center;
    color: rgb(89, 89, 141);
}

#container .question {
    background-color: rgb(202, 186, 186);
    height: 170px;
    margin-bottom: 20px;
    padding: 15px;
    cursor: pointer;
}

#container #explain{
    height: 250px;
}

#container #explain .explanation{
    padding-top: 10px;
}

#container .question input:hover{
    transform: scale(1.2);
}

#container .question input[disabled],label[class=disable]{
    cursor: not-allowed;
}

#container .question input[class=checked]{
    width: 18px;
    height: 18px;
}

#container .question p{
    font-weight: bold;
}

#container .countdown{
    display: block;
    background-color: rgb(202, 186, 186);
    text-align: center;
    height: 40px;
    padding-top: 11px;
    margin-left: 650px;
}

#container .button input{
    display: block;
    height: 50px;
    width: 80px;
    margin-left: 300px;
    border: none;
    background-color: rgb(188, 188, 207);
}

#container .button input:focus{
    display: block;
    height: 50px;
    width: 80px;
    margin-left: 300px;
    border: none;
    background-color: rgb(103, 103, 176);
}

#container .button input:hover{
    display: block;
    height: 50px;
    width: 80px;
    margin-left: 300px;
    border: none;
    background-color: rgb(103, 103, 176);
    border: 2px solid rgb(9, 9, 110);
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1.1);
}

#container .question .correct{
    display: inline-block;
    text-align:center;
    padding-left:25px ;
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

#container .question .correct-text{
    color: green;
}

#container .question .wrong-text{
    color: red;
}

#container .question .wrong{
    display: inline-block;
    text-align:center;
    padding-left:25px ;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

#container .button-disable input{
    display: none;
}

#container .button-disable p{
    text-align: center;
}

a{
    text-align: center;
    color: rgb(213, 213, 219);
    margin-left: 320px;
    padding-top: 16px;
    background-color: rgb(103, 103, 176);
    display: block;
    height: 40px;
    width: 100px;
    text-decoration: none;
}

a:hover{
    text-align: center;
    color: rgb(213, 213, 219);
    margin-left: 320px;
    padding-top: 16px;
    background-color: rgb(75, 75, 139);
    display: block;
    height: 40px;
    width: 100px;
    text-decoration: none;
    border: 2px solid rgb(9, 9, 110);
    border-radius: 5px;
}

#container-index {
    margin-left: 300px;
    margin-top: 50px;
    padding: 50px;
    width: 50%;
    height: 440px;
    background-color: rgb(234, 224, 224);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#container-index h1,h4 {
    text-align: center;
    color: rgb(89, 89, 141);
}

#container-index p {
    text-align: justify;
}

.pass{
    font-size: 30px;
    color: green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fail{
    font-size: 30px;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
