body {
    background-color: rgb(221, 243, 250);
}

#container {
    margin-left: 300px;
    margin-top: 50px;
    padding: 50px;
    width: 55%;
    /* background-color: rgb(238, 251, 255); */
    font-size: 20px;
    font-family: "Playfair Display";
    /* border: 3px solid rgb(32, 136, 171); */
    /* border-radius: 10px; */
    box-shadow: 3px 3px 6px 6px rgb(165, 176, 179);
}

@media only screen and (max-width: 412px) {
    [id*="container"] {
        width: 100%;
    }
}

#container h1,
h4 {
    text-align: center;
    color: rgb(32, 136, 171);
}

#container .question {
    /* background-color: rgb(255, 255, 255); */
    /* height: 250px; */
    /* border: 1px solid blue; */
    /* margin-bottom: 0px; */
    padding: 15px;
    cursor: pointer;
}

/* 
#container #explain{
     height: 300px; 
} */

#container #explain .explanation {
    padding-top: 10px;
}

#container .question input {
    width: 40px;
    height: 16px;
}

#container .question input[type="radio"]:hover,
input[type="checkbox"]:hover,
label {
    transform: scale(1.2);
    cursor: pointer;
}

#container .question input[disabled],
label[id=disable],
select[disabled] {
    cursor: not-allowed;
}

#container .question input[type="text"] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid;
    width: 50%;
    height: 30px;
    padding-left: 10px;
    font-family: "Playfair Display";
    font-size: 17px;
}

#container .question input[type="text"]:focus {
    outline: none;
}

/* 
#container .question input[class=checked]{
    width: 18px;
    height: 18px;
} */

#container .question p {
    font-weight: bold;
}

#container .question select {
    width: 200px;
    height: 30px;
    font-size: 15px;
    border: none;
    outline: none;
    font-family: "Playfair Display";
}

.countdown {
    display: block;
    background-color: rgb(32, 136, 171);
    width: 15%;
    text-align: center;
    height: 45px;
    font-size: 25px;
    padding-top: 20px;
    color: white;
    top: 50px;
    left: 50px;
    position: fixed;
}

#container .button input {
    display: block;
    height: 50px;
    width: 100px;
    margin-left: 350px;
    border: none;
    background-color: rgb(32, 136, 171);
    color: white;
    font-family: "Playfair Display";
    font-size: 20px;
}

/* #container .button input:focus {
    display: block;
    height: 100px;
    width: 80px;
    margin-left: 300px;
    border: none;
    background-color: rgb(103, 103, 176);
} */

#container .button input:hover {
    display: block;
    height: 50px;
    width: 100px;
    margin-left: 350px;
    border: none;
    background-color: rgb(10, 91, 118);
    border-radius: 5px;
    box-shadow: 1px 1px 4px 4px rgb(128, 186, 206);
    cursor: pointer;
    transform: scale(1);
    font-family: "Playfair Display";
}

#container .question .correct {
    display: inline-block;
    text-align: center;
    padding-left: 25px;
    color: rgb(1, 168, 1);
}

#container .question .correct-text {
    color: rgb(1, 168, 1);
}

#container .question .wrong-text {
    color: red;
}

#container .question .wrong {
    display: inline-block;
    text-align: center;
    padding-left: 25px;
    color: red;
}

#container .button-disable input {
    display: none;
}

#container .button-disable p {
    font-size: 40px;
    text-align: center;
}

a {
    text-align: center;
    color: rgb(213, 213, 219);
    margin-left: 320px;
    padding-top: 20px;
    background-color: rgb(32, 136, 171);
    display: block;
    height: 45px;
    width: 120px;
    text-decoration: none;
}

a:hover {
    text-align: center;
    color: rgb(82, 198, 237);
    margin-left: 320px;
    padding-top: 20px;
    background-color: rgb(10, 91, 118);
    display: block;
    height: 45px;
    width: 120px;
    text-decoration: none;
    /* border: 2px solid rgb(193, 224, 234); */
    border-radius: 5px; 
    box-shadow: 1px 1px 4px 4px rgb(128, 186, 206);
    transform: scale(1);
}

#container-index {
    margin-left: 350px;
    /* margin-top: 1px; */
    padding: 30px;
    width: 50%;
    height: 620px;
    /* background-color: rgb(238, 251, 255); */
    font-size: 20px;
    font-family: "Playfair Display";
    border-radius: 10px;
    box-shadow: 4px 4px 6px 6px rgb(165, 176, 179);
    /* border: 3px solid rgb(32, 136, 171); */
    /* box-shadow: 60px; */
}

#container-index h1,
h4 {
    text-align: center;
    color: rgb(32, 136, 171);
}

#container-index p {
    text-align: justify;
}

#container-index pre {
    border: 1px solid;
    padding: 10px;
    color: red;
    font-family: "Playfair Display";
}

.pass {
    font-size: 30px;
    color: green;
}

.fail {
    font-size: 30px;
    color: red;
}