body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#form-div {
    width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 10px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    align-self: center;
    margin: auto;
    padding: 12px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid orange;
    background-color: #fdf2e7;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
}

h1 {
    align-self: center;
    margin-bottom: 40px;
    margin-top: 0%;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 38, 0);
}

.quiz-start:hover,
.quiz-submit:hover {
    background-color: green;
}

.quiz-restart:hover {
    background-color: #c8393e;
}

.quiz-start:active,
.quiz-submit:active,
.quiz-restart:active {
    background-color: rgb(58, 58, 163);
}

.question-container {
    margin-bottom: 10px;
}

.question-container input {
    margin-left: 30px;
}

.question-container label {
    cursor: pointer;
}

.question-container input:checked+label {
    background-color: #375bce;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}

.question-container input:checked+label.correct-answer,
.question-container input[type='text'].correct-answer {
    background-color: #128715;
    color: #fff;
}

.question-container input:checked+label.incorrect-answer,
.question-container input[type='text'].incorrect-answer {
    background-color: rgb(255, 38, 0);
    color: #fff;
}

.quiz-score {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: bisque;
    box-sizing: border-box;
    border-style: groove
}

.quiz-option {
    margin: 10px;
}

.quiz-option label {
    display: inline-block;
    width: 200px;
}

.quiz-next:disabled,
.quiz-submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}