* {
    font-size: 16px;
    font-family: cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    background-color: wheat;
    background: rgb(123, 210, 140);
    background: linear-gradient(90deg, rgba(123, 210, 140, 1) 0%, rgba(120, 176, 195, 1) 49%);
}

form {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background: whitesmoke;
}

label {
    margin-bottom: 10px;
    text-align: left;
}

button {
    align-self: center;
    margin: auto;
    padding: 12px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid orange;
    background-color: #fdf2e7;
    border-radius: 4px;
    margin-left: 20px;
    cursor: pointer;
}

h1 {
    align-self: center;
    margin-bottom: 10px;
    margin-top: 0%;
    font-size: 40px;
    color: rgb(255, 38, 0);
}

h2 {
    font-size: 20px;
    color: rgb(101, 139, 241);
    width: fit-content;
}

.timer-half-out {
    color: yellowgreen;
}

.timer-ran-out {
    color: #c8393e;
}


.quiz-start:hover,
.quiz-submit:hover {
    background-color: green;
}

.quiz-restart:hover {
    background-color: #c8393e;
}

.quiz-start:active,
.quiz-submit:active,
.quiz-restart:active {
    background-color: rgb(58, 58, 163);
}

.question-container {
    margin-bottom: 10px;
}

.question-container input {
    margin-left: 30px;
}

.question-container label {
    cursor: pointer;
}

.question-container select {
    font-size: 15px;
    padding: 5px;
    margin-left: 50px;
}

.question-container input:checked+label {
    color: #375bce;
    padding: 5px 10px;
    border-radius: 4px;
}

.question-container input:checked+label.correct-answer,
.question-container input[type='text'].correct-answer,
.question-container select.correct-answer {
    color: #128715;
}

.question-container input:checked+label.incorrect-answer,
.question-container input[type='text'].incorrect-answer,
.question-container select.incorrect-answer {
    color: rgb(255, 38, 0);
}

.quiz-score {
    padding-left: 20px;
    font-size: 50px;
    width: 821px;
    margin-left: 15px;
    margin-bottom: 18px;
    background-color: bisque;
    border-radius: 20px;
    box-sizing: content-box;
    border-style: groove;
}

.quiz-score p {
    font-size: 20px;
    padding-left: 20px;
}

.quiz-option {
    margin: 10px;
}

.quiz-option label {
    display: inline-block;
    width: 200px;
}

.quiz-next:disabled,
.quiz-submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

:disabled,
:disabled+label {
    opacity: 0.8;
    cursor: not-allowed;
}

.quiz-select-input {
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    form {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 30px;
    }
}