*{
    background-color:honeydew;
    font-family: 'Roboto Slab', serif;
    color: midnightblue;
}

.container{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.quiz,.quiz p, .quiz div{
    font-size: 20px;
    background-color: ivory;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.quiz{
    padding: 0px 20px 0px 20px;
}

h1{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quiz div label, .quiz div input{
    font-size: 20px;
    /* margin-left: 20px; */
    background-color: ivory;
    color: midnightblue;
}

.quiz div select option, .quiz div select{
    font-size: 20px;
    background-color: ivory;
    color: midnightblue;
}

.quiz div input:checked + label, .quiz div select:focus > option:checked,
 .quiz div select:disabled > option:checked,  .quiz div select option:hover, .quiz div input:disabled, .quiz div input + label:hover{
    background-color: rgb(205, 225, 255);;
}

.submit, .reload{
    border: 1px solid midnightblue;;
    border-radius: 5px;
    margin-left: 43%;
    background-color: ivory;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 80px;
    font-size: 20px;
}

.reload{
    margin-left: 30%;
}

.reload-analytics{
    border: 1px solid midnightblue;;
    border-radius: 1px;
    margin-left: 43%;
    background-color: ivory;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 80px;
    font-size: 20px;
}

.analytics{
    border: 1px solid midnightblue;;
    border-radius: 5px;
    margin-left: 20px;
    background-color: ivory;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 110px;
    font-size: 20px;
}

button:hover{
    color: #fff;
    background-color: rgb(121, 153, 202);
}

.quiz div input, .quiz div label, .quiz div select, .quiz div select > option , .start{
    cursor: pointer;
    border-radius: 5px;
}

.quiz div input:disabled, .quiz div input:disabled + label, .quiz div select:disabled, .quiz div select:disabled > option{
    cursor: not-allowed;
}
.start{
    display: flex;
    justify-content: center;
    color: midnightblue;
    border: 1px solid midnightblue;;
    margin-top: 10px;
    margin-bottom: 10px; 
    height: 30px;
    width: 80px;
    font-size: 20px;
}

.timer, .total-time{
    padding: 10px;
    margin-right: 20px;
    background-color:rgb(205, 225, 255);
    width: 10%;
    height: 50px;
    white-space: pre-line;
}

div > select {
    width: 80%;
    height: 30px;
}

select[multiple]{
    height: 138px;
}

input[type = radio] + label, input[type = checkbox] + label{
    width: 100px;
    height: 15px;
}

input[type=text]{
    width: 80%;
    height: 25px;
    margin-left: 0%;
}
/* select{
    margin-left: 20px;
} */

label {
    margin-left: 20px;
}