<div class="form-container">
    <form #announce="ngForm" (ngSubmit)="onAnnounce(announce)">
  
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Leave a announcement :</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..." [(ngModel)]="anounce" name="announce"></textarea>
        </mat-form-field>
      </div>

      <div>{{anounce}}</div>
  
      <div class="button-div">
        <button type="submit">Publish</button>
      </div>
    </form>

    <div class="msg" *ngIf="buttonClick">
        <p><i class="fa fa-thumbs-up"></i> {{ status }}!</p>
    </div>
  </div>
