<app-navbar></app-navbar>
<div class="container-fluid px-md-5 px-3">
  <h4
    class="mt-4 text-center py-2 bg-info-subtle"
    style="
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
    "
  >
    PROFILE
  </h4>
  <!-- issues raised grid -->
  <div class="d-flex justify-content-center">
    <div class="issues card mt-3 mx-2 mx-md-4" style="width: 180px">
      <h5 class="card-header text-center">Issues Raised</h5>
      <div class="card-body bg text-center rounded">
        <div class="h-75">
          <h1 class="big-font text-center pt-2 w-100">
            {{ issues.length < 10 ? "0" + issues.length : issues.length }}
          </h1>
        </div>
      </div>
    </div>

    <div class="issues card mt-3 mx-2 mx-md-4" style="width: 180px">
      <h5 class="card-header text-center">Raise an Issue</h5>
      <div class="h-75 w-100 bg raiser" (click)="openRaisebox()">
        <i
          class="bi bi-plus-lg"
          style="font-size: 40px; -webkit-text-stroke: 1px"
        ></i>
      </div>
    </div>
  </div>

  <!-- issues raised grid ends -->
  <h4
    class="mt-4 text-center py-2 bg-info-subtle"
    style="
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
    "
  >
    Your Raised Issues
  </h4>
  <div class="card bg p-3 mt-5 mx-5" *ngIf="issues.length === 0">
    <h4 class="text-center">No issues has been raised by you</h4>
  </div>
  <div class="row g-0 ps-md-5 pe-md-0 mt-3">
    <div
      class="card bg-info bg-opacity-25 col-md-3 my-3 mx-md-4"
      *ngFor="let issue of issues.reverse()"
      style="width: 400px; height: 200px"
    >
      <div class="row g-0">
        <!-- <div class="col-md-5">
          <img src="https://placekitten.com/600/400" class="img-fluid h-100 rounded" alt="Instagram Post Image">
        </div> -->
        <div class="col">
          <div class="card-body">
            <div class="class-title d-flex col-12 flex-row">
              <h6 class="d-flex col-6 ms-3">
                <span class="badge bg-primary">{{ issue.issueType }}</span>
              </h6>
              <div class="d-flex flex-row justify-content-end col-5">
                <h6
                  class="d-flex justify-content-end mx-2"
                  style="cursor: pointer"
                >
                  <i
                    class="bi bi-info-circle"
                    data-bs-toggle="modal"
                    data-bs-target="#detailsModal"
                    (click)="setIssue(issue)"
                  ></i>
                </h6>
                <h6
                  class="d-flex justify-content-end mx-2"
                  style="cursor: pointer"
                >
                  <i
                    class="bi bi-pencil-square"
                    (click)="openEditModal(issue, 'edit')"
                  ></i>
                </h6>
                <h6 class="d-flex justify-content-end" style="cursor: pointer">
                  <i
                    class="bi bi-trash3 ms-2"
                    (click)="openDeleteModal(issue, 'delete')"
                  ></i>
                </h6>
              </div>
            </div>
            <div class="d-flex flex-column justify-content-start col-12">
              <h6 class="ms-3">
                <i class="bi bi-geo-fill pe-1"></i>{{ issue.location }},
                {{ issue.landmark }}
              </h6>
            </div>
            <div
              class="bg py-1 mt-md-2 rounded"
              style="box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset"
            >
              <p
                class="card-text mx-3 my-1"
                style="
                  text-align: justify;
                  display: -webkit-box;
                  max-width: 335px;
                  height: 75px;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                "
              >
                {{ issue.issue }}
              </p>
            </div>

            <!-- <div class="poll-container ms-3 mb-0 p-2 pt-1 pb-0">
              <h5 class="poll-question fw-bold mb-1">How do you see this Issue?</h5>
              <ul class="poll-options p-0">
                  <li class="poll-option fw-semibold" *ngFor="let option of pollOptions">
                      <div (click)="updateProgress(option)" [class.disabled]="isOptionDisabled(option)">
                          {{ option }}
                          <span class="percentage-text" *ngIf="selectedOptions.length > 0">
                              ({{ getPercentage(option)}}%)
                          </span>
                          <progress max="100" [value]="getPercentage(option)"></progress>
                      </div>
                  </li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Edit Modal-->
<div class="modal" id="onEditIssues" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit an Issue in your Locality</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeEditModal()"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <input
              type="hidden"
              ngModel="{{ editIssue.issueId }}"
              name="issueId"
              class="form-control"
              id="issueId"
              placeholder="Enter Issue Id"
              required
            />
            <input
              type="hidden"
              ngModel="{{ editIssue.userId }}"
              name="userId"
              class="form-control"
              id="userId"
              placeholder="Enter User Id"
              required
            />
            <input
              type="hidden"
              ngModel="{{ editIssue.location }}"
              name="location"
              class="form-control"
              id="location"
              placeholder="Enter Location"
              required
            />
            <input
              type="hidden"
              ngModel="{{ editIssue.issueType }}"
              name="issueType"
              class="form-control"
              id="issueType"
              placeholder="Enter Issue Type"
              required
            />
            <input
              type="hidden"
              ngModel="{{ editIssue.image }}"
              name="image"
              class="form-control"
              id="image"
              placeholder="Enter Image"
              required
            />
          </div>
          <div class="form-group">
            <label for="landmark">Landmark</label>
            <input
              type="text"
              ngModel="{{ editIssue.landmark }}"
              name="landmark"
              class="form-control"
              id="landmark"
              placeholder="Enter landmark"
              required
            />
          </div>
          <div class="form-group">
            <label for="issue">Issue</label>
            <textarea
              style="height: 100px"
              type="text"
              ngModel="{{ editIssue.issue }}"
              name="issue"
              class="form-control"
              id="issue"
              placeholder="Enter Issue"
              required
            ></textarea>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="closeEditModal()"
              data-dismiss="modal"
            >
              Close
            </button>
            <button
              [disabled]="editForm.invalid"
              type="submit"
              class="btn btn-primary"
              (click)="onUpdateIssue(editForm.value)"
              (click)="closeEditModal()"
            >
              Save changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Delete Modal-->
<div class="modal modal-sm" id="onDeleteIssues" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete an Issue</h5>
        <button
          type="button"
          class="btn-close"
          (click)="closeDeleteModal()"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to delete this Issue?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="closeDeleteModal()"
          data-dismiss="modal"
        >
          No
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="closeDeleteModal()"
          (click)="onDeleteIssue(deleteIssue.issueId)"
        >
          Yes
        </button>
      </div>
    </div>
  </div>
</div>

<!--Details Modal -->
<div
  class="modal fade"
  id="detailsModal"
  tabindex="-1"
  aria-labelledby="detailsModallabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Issue Details</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="resetUrl()"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h6 class="my-3"><b>Issue ID: </b>{{ issue.issueId }}</h6>
        <h6 class="my-3"><b>Issue Type: </b>{{ issue.issueType }}</h6>
        <h6 class="my-3"><b>Issue Location: </b>{{ issue.location }}</h6>
        <h6 class="my-3"><b>Landmark: </b>{{ issue.landmark }}</h6>
        <h6 class="mt-3"><b>Issue Description: </b></h6>
        <p>{{ issue.issue }}</p>
        <div class="row">
          <div class="col-12 col-md-5">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid img-thumbnail"
                style="height: 300px; width: fit-content"
                [src] = "issue.image"
                alt="No images are there"
              />
            </div>
          </div>
          
          <div class="col">
            <!--Poll Container Starts-->
            <div class="container mt-5 poll-container">
              <div class="poll-question">How people see this issue</div>
              <ul class="poll-options">
                <li class="poll-option">
                  <div
                    class="progress my-3 disabled"
                    style="height: 25px"
                    role="progressbar"
                  >
                    <span class="option ps-2">Severe</span>
                    <span class="percentage pe-2">{{ severePercent }}%</span>
                    <div
                      class="progress-bar bg-opacity-50 progress-bar-striped progress-bar-animated"
                      [style]="severeWidth"
                    ></div>
                  </div>
                  <div
                    class="progress my-3 disabled"
                    style="height: 25px"
                    role="progressbar"
                  >
                    <span class="option ps-2">Moderate</span>
                    <span class="percentage pe-2">{{ moderatePercent }}%</span>
                    <div
                      class="progress-bar bg-opacity-50 progress-bar-striped progress-bar-animated"
                      [style]="moderateWidth"
                    ></div>
                  </div>
                  <div
                    class="progress my-3 disabled"
                    style="height: 25px"
                    role="progressbar"
                  >
                    <span class="option ps-2">Mild</span>
                    <span class="percentage pe-2">{{ mildPercent }}%</span>
                    <div
                      class="progress-bar bg-opacity-50 progress-bar-striped progress-bar-animated"
                      [style]="mildWidth"
                    ></div>
                  </div>
                </li>
              </ul>
            </div>
            <!--Poll Container Ends-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
