<div class="container">

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="funderEmail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Funder Email</th>
        <td mat-cell *matCellDef="let row">{{ row.funderEmail }}</td>
      </ng-container>

      <ng-container matColumnDef="studentEmail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Email</th>
        <td mat-cell *matCellDef="let row">{{ row.studentEmail }}</td>
      </ng-container>

      <ng-container matColumnDef="totalAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Amount</th>
        <td mat-cell *matCellDef="let row">{{ row.totalAmount }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Date
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="studentAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Amount</th>
        <td mat-cell *matCellDef="let row">{{ row.studentAmount }}</td>
      </ng-container>

      <ng-container matColumnDef="maintainenceAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Maintainence Amount</th>
        <td mat-cell *matCellDef="let row">{{ row.maintainenceAmount }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator #paginator [length]="paginator.length" [pageSize]="paginator.pageSize"
      [pageIndex]="paginator.pageIndex" (page)="nextPage($event)" [pageSizeOptions]="[3, 6, 9, 100]"
      aria-label="Select page of users"></mat-paginator>
  </div>
</div>