.container {
  display: flex;
}

.sidenav-div {
  flex: 0 0 auto;
  width: 220px;
}

.content {
  flex: 1;
}

.sidenav-div mat-list-item {
  cursor: pointer;
}

.sidenav-div mat-list-item:hover {
  background-color: rgba(223, 230, 239, 0.477);
}

.sidenav-div mat-list-item:active{
  background-color: #ccccd045;
}

.content{
  margin: 30px 20px 20px 20px;
  
}