body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body2{
    background-color: antiquewhite;
    width: 440px;
    height: 370px;
    padding: 5px 5px;
    border-radius: 3%;
    border-color: black;
    border-style: double;
}
.head1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;

}
.input1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
}