$list-button: rgba(15, 117, 191, 0.579);

.custom-toolbar {
  display: flex;
  justify-content: space-between;
}

.toolbar-title {
  margin-left: 16px;
}

div{
  display: flex;
  justify-content: center;
  align-items: center;
}

span{
  margin-right: 10px;
}

.icon{
  background:none;
  border: none;
  color: white;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 50px;
}