<div class="container">
  <div class="div-section">
    <div *ngFor="let shortRead of shortReads">
      <mat-card class="example-card">
        <mat-card-content>
          <img src="{{ shortRead.image }}" alt="image" />
          <mat-card-subtitle class="subtitle">Report | {{ shortRead.date | date }}</mat-card-subtitle>
          <div class="content">
            <a [routerLink]="['/user/display-short-reads', shortRead.id]">
              {{ shortRead.title }}
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <span>
      <a routerLink="/user/short-reads">See all shortReads>></a>
    </span>
  </div>
  <div class="div-section1">
    <div class="top">
      <div class="video">
        <iframe width="500" height="250" src="https://www.youtube.com/embed/8WXH_Q6B4Ig?si=8FJGbeYFyIFEQ7NZ"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <div class="main-content">
          <div *ngFor="let news of allNews" class="news-card">
            <img src="{{ news.images[0] }}" alt="" />
            <a [routerLink]="['/user/display-news', news.id]">{{
              news.title
              }}</a>
          </div>
        </div>
      </div>
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" class="tab">
        <mat-tab label="Top News">
          <a class="link" *ngFor="let news of topNews" [routerLink]="['/user/display-news', news.id]">{{ news.title
            }}</a>
          <p>
            <a routerLink="/user/top-news">More top News>></a>
          </p>
        </mat-tab>
        <mat-tab label="Latest News">
          <a class="link" *ngFor="let news of newsContents" [routerLink]="['/user/display-news', news.id]">{{ news.title
            }}</a>
          <p>
            <a routerLink="/user/daily-news">More daily News>></a>
          </p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <div class="div-section">
    <div *ngFor="let article of articles">
      <mat-card class="example-card">
        <mat-card-content>
          <img src="{{ article.images[0] }}" alt="image" />
          <mat-card-subtitle class="subtitle">Report | {{ article.date | date }}</mat-card-subtitle>
          <div class="content">
            <a [routerLink]="['/user/display-article', article.id]">
              {{ article.title }}
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <span>
      <a routerLink="/user/article">See all articles>></a>
    </span>
  </div>
</div>

<div class="user-news">
  <div class="card">
    <div class="para">
      Would you like to share any news or information with us? We'd love to hear
      your updates and keep our community informed!
    </div>
    <div class="button">
      <button type="button" (click)="onClick()">Click here</button>
    </div>
  </div>
</div>

<div class="news-contents">
  <h1>Sports</h1>
  <div class="sports">
    <div *ngFor="let sports of sportsNews" class="sports-cards">
      <mat-card class="sports-card">
        <mat-card-content>
          <img src="{{ sports.images[0] }}" alt="image" />
          <mat-card-subtitle class="subtitle">Report | {{ sports.date | date }}</mat-card-subtitle>
          <div class="content">
            <a [routerLink]="['/user/display-news', sports.id]">
              {{ sports.title }}
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <p>
    <a [routerLink]="['/user/display-category', 'SPORTS']">See more>></a>
  </p>
  <h1>Entertainment</h1>
  <div class="sports">
    <div *ngFor="let entainment of entainmentNews" class="sports-cards">
      <mat-card class="sports-card">
        <mat-card-content>
          <img src="{{ entainment.images[0] }}" alt="image" />
          <mat-card-subtitle class="subtitle">Report | {{ entainment.date | date }}</mat-card-subtitle>
          <div class="content">
            <a [routerLink]="['/user/display-news', entainment.id]">
              {{ entainment.title }}
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <p>
    <a [routerLink]="['/user/display-category', 'ENTERTAINMENT']">See more>></a>
  </p>
  <h1>Explainers</h1>
  <div class="sports">
    <div *ngFor="let explainer of explainers" class="sports-cards">
      <mat-card class="sports-card">
        <mat-card-content>
          <img src="{{ explainer.image }}" alt="image" />
          <mat-card-subtitle class="subtitle">Report | {{ explainer.date | date }}</mat-card-subtitle>
          <div class="content">
            <a [routerLink]="['/user/display-explainers', explainer.id]">
              {{ explainer.title }}
            </a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <p>
    <a routerLink='/user/explainers'>See more>></a>
  </p>
</div>

<div class="explainers">

</div>