.side-nav{
    position: fixed;
    width: 25%;
    height: 100%;
    background: #D9D9D9;
    float: left;
}
.component{
    width: 70%;
    // margin-left: 30%;
    float: right;
    padding: 10px;
}
.menu{
    display: flex;
    align-items: center;
    padding: 10px;
}
a{
    text-decoration: none;
    font-size: 35px;
    margin-left: 10px;
    color: black;
    // font-style: italic;
    font-weight: 900;
}
.dp{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}