.products-billing {
  display: flex;
  height: 100%;
}

.products {
  padding: 20px 15px 15px 15px;
  background-color: rgba(248, 248, 208, 0.188);
  flex: 2;
}

.bill-div {
  flex: 1;
  background-color: #c2e3ae52;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}