<div class="container" *ngIf="!showDiv()">
  <h2>Go into course creation</h2>
  <div>
    <button type="submit" (click)="createCourse()" class="button">
      Create Course
    </button>
  </div>
</div>

<div class="form-container" *ngIf="showDiv()">
  <form [formGroup]="courseForm" (ngSubmit)="onCreate()">
    <div class="group">
      <table>
        <tr>
          <td>
            <label for="cid">Course code:</label>
          </td>
          <td>
            <input
              type="text"
              id="cid"
              name="courseId"
              formControlName="courseId"
            />
          </td>
          <!-- <br> <span *ngIf="!cid.valid && (cid.touched || cid.dirty)">
                Please enter course id
            </span> -->
          <td>
            <label for="cname">Course name:</label>
          </td>
          <td>
            <input
              type="text"
              id="cname"
              name="courseName"
              formControlName="courseName"
            />
            <!-- <span *ngIf="!cname.valid && (cname.touched || cname.dirty)">
                Please enter course name
            </span> -->
          </td>
        </tr>
        <tr>
          <td>
            <label for="amt">Amount:</label>
          </td>
          <td>
            <input
              type="text"
              id="amt"
              name="amount"
              formControlName="amount"
            />
          </td>
          <!-- <span *ngIf="!amt.valid && (amt.touched || amt.dirty)">
                Please enter amount
            </span> -->

          <td>
            <label for="img">Image:</label>
          </td>
          <td>
            <input type="file" accept="image/*" id="img" name="image" formControlName="image" />
          </td>
        </tr>
      </table>
    </div>

    <!-- <span *ngIf="!amt.valid && (amt.touched || amt.dirty)">
                Please enter amount
            </span>-->

    <div class="group">
      <mat-form-field class="example-full-width">
        <mat-label>Brief Description:</mat-label>
        <textarea
          matInput
          placeholder="Ex. It makes me feel..."
          id="b-desc"
          name="breifDescription"
          formControlName="breifDescription"
        ></textarea>
      </mat-form-field>

      <!-- <span *ngIf="!bdesc.valid && (bdesc.touched || bdesc.dirty)">
                Please enter brief description
            </span> -->
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Description:</mat-label>
        <textarea
          matInput
          placeholder="Ex. It makes me feel..."
          id="desc"
          name="description"
          formControlName="description"
        ></textarea>
      </mat-form-field>
      <!-- <span *ngIf="!desc.valid && (desc.touched || desc.dirty)">
                Please enter description
            </span> -->
    </div>

    <div class="module">
      <p>Modules :</p>
      <button
        type="button"
        class="plus-icon"
        (click)="addModule()"
        matTooltip="Add more modules"
        matTooltipPosition="above"
      >
        <i class="fa-solid fa-square-plus"></i>
      </button>
    </div>

    <div
      formArrayName="modules"
      *ngFor="let module of getModules().controls; let i = index"
      class="arrayDiv"
    >
      <div [formGroupName]="i">
        <div class="module">
          <label for="title{{ i + 1 }}">Title {{ i + 1 }}:</label>
          <input
            type="text"
            id="title{{ i + 1 }}"
            name="title"
            formControlName="title"
          />

          <label for="duration{{ i + 1 }}">Duration {{ i + 1 }}:</label>
          <input
            type="text"
            id="duration{{ i + 1 }}"
            name="duration"
            formControlName="duration"
          />

          <label for="level{{ i + 1 }}">Level {{ i + 1 }}:</label>
          <input
            type="text"
            id="level{{ i + 1 }}"
            name="level"
            formControlName="level"
          />

          <div>
            <button
              type="button"
              class="icon"
              (click)="removeModule(i)"
              matTooltip="remove modules"
              matTooltipPosition="above"
            >
              <i class="fa-solid fa-square-minus"></i>
            </button>
          </div>
        </div>

        <div class="module">
          <p>Sub Modules :</p>
          <button
            type="button"
            class="plus-icon"
            (click)="addSubModule(i)"
            matTooltip="Add sub modules"
            matTooltipPosition="above"
          >
            <i class="fa-solid fa-square-plus"></i>
          </button>
        </div>

        <div formArrayName="subModules">
          <div *ngFor="let submodule of subModules(i).controls; let j = index">
            <div [formGroupName]="j">
              <div class="module">
                <label>Sub Title {{ j + 1 }}:</label>
                <input type="text" name="subTitle" formControlName="subTitle" />

                <label>Video {{ j + 1 }}:</label>
                <input type="file" name="video" formControlName="video" />

                <label>Sub Duration {{ j + 1 }}:</label>
                <input
                  type="text"
                  name="subDuration"
                  formControlName="subDuration"
                />

                <div>
                  <button
                    type="button"
                    class="icon"
                    (click)="removeSubModule(i, j)"
                    matTooltip="remove sub modules"
                    matTooltipPosition="above"
                  >
                    <i class="fa-solid fa-square-minus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="button-div">
      <button type="submit" class="button">CREATE</button>
    </div>
  </form>
</div>
