.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image {
    margin-bottom: 20px;
    height: 200px;
    width: 200px;
}

.container img {
    max-width: 100%;
    border-radius: 50%;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.funds {
    margin-top: 20px;
    border-top: 2px solid #ccc;
    padding-top: 20px;
}
