@import '~@fortawesome/fontawesome-free/css/all.css';
@import '/src/styles/variables';

.form-container {
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    font-family: $font-family;
    box-shadow: 3px 3px 5px 5px rgb(193, 199, 201);
}

.form-container h2,p {
    text-align: center;
    p{
        color: rgb(225, 222, 222);
    }
}

.form-container div {
    font-family: $font-family;
    margin-top: 25px
}

.form-container div input, select{
    margin-top: 15px;
    width: 100%;
    height: 30px;
    border: 1px solid grey;
    outline: none;
    box-sizing: border-box;
    padding-left: 20px;
}

.form-container div input:focus {
    padding-left: 20px;
}

.form-container div span{
    font-size: 15px;
    color: $error-color;
}

.form-container .button-div{
    margin-bottom: 0px;
}

.form-container div button {
    background-color: $secondary-color;
    height: 50px;
    width: 30%;
    margin-left: 220px;
    cursor: pointer;
    border: none;
    text-align: center;
    font-family: $font-family;
    color: white;
}

.form-container div button[disabled]{
    cursor: not-allowed;
}