<div class="form-container">
  <form [formGroup]="newsForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <label for="id">News Unique Id:</label>
      <input
        type="text"
        name="newsUid"
        id="id"
        placeholder="Ex: 20N101"
        formControlName="newsUid"
      />
      <span
        *ngIf="(newsForm.controls['newsUid'].touched || newsForm.controls['newsUid'].dirty) && (newsForm.controls['newsUid'].errors?.['required'])"
      >
        news unique id is required
      </span>
    </div>

    <div class="container">
      <label for="category">Category:</label>
      <select name="category" id="category" formControlName="category">
        <option value="">Select category</option>
        <option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </option>
      </select>
      <span
        *ngIf="(newsForm.controls['category'].touched || newsForm.controls['category'].dirty) && (newsForm.controls['category'].errors?.['required'])"
      >
        select category
      </span>
    </div>

    <div class="container">
      <label for="title">News Headlines:</label>
      <textarea
        name="title"
        id="title"
        placeholder="Ex: 19 fishermen from Rameswaram have been arrested by Sri Lankan navy personnel on charges of poaching and taken in custody, two boats impounded."
        formControlName="title"
      >
      </textarea>
    </div>

    <div class="container">
      <label for="synopsis">Synopsis:</label>
      <textarea
        name="synopsis"
        id="synopsis"
        placeholder="Ex: 19 fishermen from Rameswaram have been arrested by Sri Lankan navy personnel on charges of poaching and taken in custody, two boats impounded."
        formControlName="synopsis"
      >
      </textarea>
    </div>

    <div class="container img">
      <div class="img-div">
        <p>
          Upload images: (name should be same as unique id, if multiple
          20N101-1, 20N101-2)
        </p>
        <label for="img"><i class="fa-solid fa-cloud-arrow-up"></i></label>
        <input
          type="file"
          name="images"
          id="img"
          accept=".jpg, .jpeg, .png, .mp4"
          (change)="uploadImages($event)"
          formControlName="images"
        />
      </div>
      <span *ngFor="let file of files; let i = index" class="span-img">
        <p>
          {{ file.name }}
          <button type="button" (click)="remove(i)">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </p>
      </span>
      <span
        *ngIf="((newsForm.controls['images'].touched || newsForm.controls['images'].dirty) && newsForm.controls['images'].errors?.['required'])"
      >
        upload image
      </span>
      <span *ngIf="imgError"> invalid image name format! </span>
    </div>

    <div class="content container">
      <label>News contents:</label>
      <span
        *ngIf="((newsForm.controls['content'].touched || newsForm.controls['content'].dirty) && newsForm.controls['content'].errors?.['required'])"
      >
        content is required
      </span>
      <editor
        [init]="editorConfig"
        name="content"
        formControlName="content"
      ></editor>
    </div>

    <div>
      <button type="submit" [disabled]="newsForm.invalid" class="submit">
        Upload
      </button>
    </div>
  </form>
</div>
