<div class="registerBox">
    <label>Enter First Name :</label><input [(ngModel)]="firstname" type="text">
    <br>
    <label>Enter Last Name :</label><input [(ngModel)]="lastname" type="text">
    <br>
    <label>Enter Email :</label><input [(ngModel)]="email" type="text">
    <br>
    <label>Enter Password: </label><input [(ngModel)]="password" type="password">
    <br>
    <label>Enter Role :</label><input [(ngModel)]="role" type="text">
    <br>
    <br>
    <button (click)="register()">submit</button>
</div>