<!-- <a routerLink="login" class="box">login</a>
<a routerLink="dashboard" class="box">dashboard</a>
<a routerLink="lodash" class="box">lodash</a>
<a routerLink="custom" class="box">custom</a>
<a routerLink="admin" class="box">admin</a>
<a routerLink="logout" class="box">logout</a> -->
<script src="https://cdn.jsdelivr.net/npm/@angular/core/bundles/core.umd.min.js"></script>
  <!-- Include other external libraries -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<app-admin></app-admin>


