@import "~@fortawesome/fontawesome-free/css/all.css";
@import "/src/styles/variables";

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  right: 0;
  padding-top: 20px;
  font-family: $font-family;
  border-bottom: 1px solid $tertiary-color;
  height: 80px;
}

.heading {
  font-size: 30px;
  width: 30%;
  padding-left: 20px;
}

.logo img {
  height: 25px;
}

.example-spacer {
  width: 45%;
}

.icon {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 25%;
  margin-left: 280px;

  a {
    font-size: 20px;
    color: black;
    margin-right: 10px;
  }

  button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: $font-family;
    margin-top: 5px;
  }

  button:hover {
    cursor: pointer;
  }

  h4 {
    margin-top: 20px;
    font-family: $font-family;
    margin-right: 10px;
  }

  .bar{
    margin-left: 80px;
  }
}

.example-container {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  padding-top: 50px;
  width: 20%;
  border: 1px solid black;

  a {
    color: black;
    text-decoration: none;
    display: grid;
    font-family: $font-family;
    padding: 20px;
    padding-left: 50px;
  }
}

.active {
  background-color: rgba(163, 224, 244, 0.288);
}