<ng-container>
  <mat-toolbar class="example-header">
    <div class="heading">
      <span class="logo">
        <img src="/favicon.ico" alt="logo" />
      </span>
      InsightNow
    </div>
    <div class="example-spacer">
      <div id="trading-tickers-container" class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget" #trading1></div>
      </div>
    </div>
    <div class="icon">
      <h4>Hi, {{name | titlecase}}</h4>
      <a routerLink="profile">
        <i class="fa fa-user" aria-hidden="true"></i>
      </a>
      <button type="button" (click)="logout()" class="logout">
        <i class="fa-solid fa-right-from-bracket"></i>
      </button>
      <button type="button" class="bar" (click)="sidenav.toggle()" matTooltip="Toggle Sidebar">
      <i class="fa-solid fa-bars-staggered"></i>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-container" hasBackdrop=false>
    <mat-sidenav #sidenav mode="over" position="end" opened class="example-sidenav">
      <!-- <a
        routerLink=""
        routerLinkActive="active"
        >DASHBOARD</a
      > -->
      <a
        routerLink="createAccount"
        routerLinkActive="active"
        *appRoutehide="createAccount"
        >ACCOUNT</a
      >
      <a
        routerLink="user-request"
        routerLinkActive="active"
        *appRoutehide="userNews"
        >USER REQUEST</a
      >
      <a
        routerLink="user-news"
        routerLinkActive="active"
        *appRoutehide="userNewsApproved"
        >USER NEWS</a
      >

      <a
        routerLink="display-news"
        routerLinkActive="active"
        *appRoutehide="manageNews"
        >MANAGE NEWS</a
      >
      <a
        routerLink="display-article"
        routerLinkActive="active"
        *appRoutehide="manageArticle"
        >MANAGE ARTICLE</a
      >
      <a
        routerLink="display-shortReads"
        routerLinkActive="active"
        *appRoutehide="manageShortReads"
        >MANAGE SHORT READS</a
      >
      <a
        routerLink="display-explainers"
        routerLinkActive="active"
        *appRoutehide="manageShortReads"
        >MANAGE EXPLAINERS</a
      >

      <a
        routerLink="create-article"
        routerLinkActive="active"
        *appRoutehide="writeArticle"
        >CREATE ARTICLE</a
      >

      <a
        routerLink="create-shortReads"
        routerLinkActive="active"
        *appRoutehide="writeShortReads"
        >CREATE SHORT READS</a
      >
      <a
        routerLink="create-explainers"
        routerLinkActive="active"
        *appRoutehide="writeShortReads"
        >CREATE EXPLAINERS</a
      >
      <a
        routerLink="rejected-article"
        routerLinkActive="active"
        *appRoutehide="seeRejectedArticle"
        >REJECTED ARTICLE</a
      >
      <a routerLink="rejected-shortReads" *appRoutehide="seeRejectedShortReads"
        >REJECTED SHORT READS</a
      >
      <a routerLink="rejected-explainers" *appRoutehide="seeRejectedShortReads"
        >REJECTED EXPLAINERS</a
      >

      <a
        routerLink="create-news"
        routerLinkActive="active"
        *appRoutehide="writeNews"
        >CREATE NEWS</a
      >
      <a
        routerLink="breaking-news"
        routerLinkActive="active"
        *appRoutehide="writeNews"
        >BREAKING NEWS</a
      >
      <a
        routerLink="sensational-news"
        routerLinkActive="active"
        *appRoutehide="writeNews"
        >SENSATIONAL NEWS</a
      >
      <a
        routerLink="rejected-news"
        routerLinkActive="active"
        *appRoutehide="seeRejectedNews"
        >REJECTED NEWS</a
      >
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
