<div
  class="container-fluid d-flex p-2 align-items-center justify-content-center"
  style="height: 100vh; width: 100vw; background-color: rgb(241, 241, 241)"
>
  <span class="logo">
    <img src="../../../../assets/logo.png" alt="" width="280"/>
  </span>
  
  <div class="card bg" style="width: 25rem">
    <div class="card-body p-4">
      <h5 class="card-title text-center fs-3 pb-2 fw-semibold">LOGIN</h5>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <label class="pb-2 fs-5" for="userName">Email</label>
        <br />
        <input
          class="form-control w-100 login-input"
          formControlName="userName"
          type="text"
          name="userName"
          placeholder="Enter your email"
        />
        <span
          class="float-end text-danger m-0"
          *ngIf="
            loginForm.controls['userName'].dirty &&
            loginForm.hasError('required', 'userName')
          "
          >*email is required</span
        >
        <span
          class="float-end text-danger m-0"
          *ngIf="loginForm.controls['userName'].hasError('pattern')"
          >*email is invalid</span
        >
        <br />
        <label class="pb-2 fs-5" for="userPassword">Password</label>
        <br />
        <input
          class="form-control w-100 login-input"
          formControlName="userPassword"
          [type]="type"
          name="userPassword"
          placeholder="Enter your password"
        />
        <span
          class="float-end text-danger m-0"
          *ngIf="
            loginForm.controls['userPassword'].dirty &&
            loginForm.hasError('required', 'userPassword')
          "
          >*password is required</span
        >
        <span
          class="float-end text-danger m-0"
          *ngIf="loginForm.controls['userPassword'].hasError('minlength')"
          >*Requires atleast 8 characters</span
        >
        <br />
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            (click)="onpassclick()"
            unchecked
          />
          <label class="form-check-label">Show Password</label>
          <span class="float-end" style="font-size: small">
            <a routerLink="/forgotpass" style="text-decoration: none"
              >forgot Password?</a
            ></span
          >
        </div>
        <br />
        <button
          class="btn login-btn btn-primary mb-2 w-100"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </form>

      <p class="text-center m-0" style="font-size: small">
        Don't have an account?
        <a routerLink="/signup" style="text-decoration: none">Create one</a>
      </p>
      <p class="text-center m-0" style="font-size: small">
        Login as an Admin -
        <a routerLink="/adminlogin" style="text-decoration: none">Login</a>
      </p>
    </div>
  </div>
</div>
