$primary-color: rgb(61, 61, 138);
$secondary-color: green;
$form-color: rgba(90, 184, 255, 0.218);
$page-color: rgb(255, 255, 255);
$page-button: green;
$save-button-hover: rgb(78, 146, 78);
$save-button: rgb(38, 205, 127);
$list-button: rgba(61, 219, 219, 0.579);

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.button-div button {
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  background-color: $save-button;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.table-div {
  display: flex;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 20px;
}