<div class="container">
  <div class="box">
    <div class="page-title">Pet Pal Finder</div>
    <input type="file" (change)="getImage($event)" #profileEl hidden/>
    <form action="" [formGroup]="formResponse" (ngSubmit)="request()">
      <div class="file" (click)="profileEl.click()">{{file === null?'Upload organization image*':file.name}}</div>
      <mat-form-field class="feild">
        <mat-label>Full Name</mat-label>
        <input type="text" matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="feild">
        <mat-label>Email</mat-label>
        <input type="text" matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field class="feild">
        <mat-label>Contact Number</mat-label>
        <input type="number" matInput formControlName="contactNumber" />
      </mat-form-field>
      <div formGroupName="location">
        <mat-form-field class="feild">
          <mat-label>Door No</mat-label>
          <input type="text" matInput formControlName="doorNo" />
        </mat-form-field>
        <mat-form-field class="feild">
          <mat-label>street</mat-label>
          <input type="text" matInput formControlName="street" />
        </mat-form-field>
        <mat-form-field class="feild">
          <mat-label>City</mat-label>
          <input type="text" matInput formControlName="city" />
        </mat-form-field>
        <mat-form-field class="feild">
          <mat-label>District</mat-label>
          <input type="text" matInput formControlName="district" />
        </mat-form-field>
        <mat-form-field class="feild">
          <mat-label>State</mat-label>
          <input type="text" matInput formControlName="state" />
        </mat-form-field>
        <mat-form-field class="feild">
          <mat-label>Country</mat-label>
          <input type="text" matInput formControlName="country" />
        </mat-form-field>
      </div>

      <button mat-flat-button type="submit">Register</button>
      <hr width="100%" />
      <div>Already have a account? <a routerLink="/auth/login">Login</a></div>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
