@import "~@fortawesome/fontawesome-free/css/all.css";
@import "/src/styles/variables";

.heading {
  color: white;
  font-family: $font-family;
  font-size: 30px;
  margin-top: 20px;
  width: 10%;

  button {
    font-size: 20px;
  }
}

.icon {
  display: flex;
  color: white;
  width: 20%;
  align-items: center;

  a {
    font-size: 20px;
    color: white;
    margin-right: 10px;
  }

  button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    margin-top: 5px;
  }

  button:hover {
    cursor: pointer;
  }

  h4 {
    margin-top: 20px;
    font-family: $font-family;
    margin-right: 10px;
  }
}

.example-container {
  position: absolute;
  top: 70px;
  bottom: 0px;
  left: 0;
  right: 0;
}

.active {
  box-shadow: 3px 3px 12px 12px $secondary-color;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $primary-color;
}

.example-spacer {
  width: 70%;
}
