<ng-container>
  <mat-toolbar class="example-header">
    <div class="heading">
      <!-- <button mat-button>
        <i class="fa-solid fa-bars"></i>
      </button> -->
      <span class="logo">
        <img src="/favicon.ico" alt="logo" />
      </span>
      InsightNow
    </div>
    <div class="example-spacer"></div>
    <!-- <div class="subscribe">
      <button type="button" (click)="subscribe()">Subscribe</button>
    </div> -->
    <div class="icon" *appRoutehide="logged">
      <button type="button" (click)="subscribe()" class="subscribe" *appRoutehide="!subscribed">
        Subscribe
      </button>
      <h4>Hi, name</h4>
      <a routerLink="profile">
        <i class="fa fa-user" aria-hidden="true"></i>
      </a>
      <button type="button" (click)="logout()" class="logout">
        <i class="fa-solid fa-right-from-bracket"></i>
      </button>
    </div>
    <div class="side-div" *appRoutehide="!logged">
      <button type="button" (click)="subscribe()" *appRoutehide="!subscribed">Subscribe</button>
      <button type="button" (click)="login()">Login</button>
      <button type="button" (click)="signup()">Signup</button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav-content class="content">
      <div class="header">
        <div class="space"></div>
        <div class="topics">
            <a routerLink="home">Home</a>
            <a routerLink="topics">Research topics</a>
            <a routerLink="daily-news" matBadge="1" matBadgeOverlap="false" [matBadgeHidden]="!showBadge">Daily news</a>
            <a routerLink="sensatinal-news" matBadge="1" matBadgeOverlap="false" [matBadgeHidden]="!showBadge">Sensational</a>
            <a routerLink="short-reads" matBadge="1" matBadgeOverlap="false" [matBadgeHidden]="!showBadge">Short reads</a>
            <a routerLink="article" matBadge="1" matBadgeOverlap="false" [matBadgeHidden]="!showBadge">Articles</a>
            <a routerLink="">Stock prices</a>
            <a routerLink="breaking-news" matBadge="1" matBadgeOverlap="false" [matBadgeHidden]="!showBadge">Breaking news</a>
        </div>
        <div class="search">
          <input
            type="text"
            name="search"
            id="search"
            placeholder="Search anything"
            (keyup)="onSearch()"
            [(ngModel)]="inputText"
          />
          <button type="button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- <mat-toolbar class="example-footer">
    <div class="address">
    <div class="heading">
      <span class="logo">
        <img src="/favicon.ico" alt="logo">
      </span>
      InsightNow
    </div>
    <div>
      <p>kamaraj nagar, jedarpalayam , namakkal, 637213</p>
    </div>
  </div>
  </mat-toolbar> -->
</ng-container>
