<div class="container">
  <div class="head">
    <span> Your Posts </span>
    <div class="add-post" (click)="openDialog('30ms', '30ms')">+ Add Post</div>
  </div>
  <div *ngIf="petPosts.length === 0; else view">
    You Didn't Post Any Pet Post
  </div>
  <ng-template #view>
    <div class="card-list">
      <div *ngFor="let petPost of petPosts" class="card">
        <div class="header">
          <span>Category : {{ petPost.category }}</span>
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            class="logout-menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deletePost(petPost._id)">
              Delete
            </button>
          </mat-menu>
        </div>
        <img [src]="petPost.images" alt="" />
        <span>Breed : {{ petPost.breed }}</span>
        <span>Description : {{ petPost.description }}</span>
        <span>Gender : {{ petPost.gender }}</span>
        <span>Adopted : {{ petPost.isAdopted ? "Yes" : "No" }}</span>
        <span>Infected : {{ petPost.isInfected ? "Yes" : "No" }}</span>
        <span>Quantity : {{ petPost.quantity }}</span>
        <span>Weight : {{ petPost.weight }} Kg</span>
      </div>
    </div>
  </ng-template>
</div>
