<div class="termsbg">
    <div class="tab">
        <mat-tab-group>
            <mat-tab label="For Students">
                <ul>
                    <li>We are a public benefit organisation that facilitates funding between Students and potential
                        funders via the Platform.
                        SARS Tax Exemption Unit has granted us approval as a public benefit organisation as well as
                        approval in terms of section 18A of the Income Tax Act, 1962.
                    </li>
                    <li>The Platform creates a Fundraising Profile for students and their academic fees or student debt.
                        The Platform encourages individuals and/or business funders to make financial contributions
                        towards their selected student’s academic fees or student debt.
                    </li>
                    <li>
                        You must also provide us with all the information and documentation that we request, including
                        your full name, identity number, details of your Educational Institution
                        enrolment (including the name of your Educational Institution, your student number and your
                        course details for the current year),
                        Fees, financial circumstances, race and gender as well as your parent’s or legal guardian’s
                        identity number and full name.
                    </li>
                    <li>
                        You must update your Fundraising Profile every year with your course details and Fees. You must
                        update your Fundraising Profile as soon as any of the information you
                        have provided in your Fundraising Profile has changed.
                    </li>
                    <li>
                        If we award you any Pool Funding, we will pay this directly to the Educational Institution where
                        you are enrolled, provided that you comply with these Terms.
                        A minimum of 7.5% of the amount received from the funder will be utilised towards the costs of
                        administering the Trust
                    </li>
                    <li>
                        You will not receive any Funding in excess of the amount of your Fees, as confirmed by your
                        Educational Institution. We cannot be held liable for any loss of
                        funding a student may experience in the event that the university provided us with incorrect
                        information.
                    </li>
                    <li>
                        We will not be liable nor responsible for any penalties or interest on your Fees that your
                        Educational Institution may charge you on outstanding Fees.
                        If we inform you that you have been allocated Funding, it is your responsibility to inform your
                        Educational Institution that you have been allocated
                        funding and request that the Educational Institution does not charge you any penalties or
                        interest on outstanding Fees. We may contact your Educational Institution, upon your request, to
                        provide confirmation of the funds. Funding confirmation letters shall be sent directly to your
                        Educational Institution.
                    </li>
                </ul>
            </mat-tab>
            <mat-tab label="For Funders">
                <ul>
                    <li>
                        A minimum of 7.5% of your contribution will be utilised towards the costs of administering the
                        Feenix™ Trust and the balance will be paid directly to the Educational Institution where the
                        Student or Students are enrolled.
                    </li>
                    <li>
                        Any funding associated with Skills Development shall incur an associated administrative cost of
                        between 7.5% (seven-point five percent) to 15% (fifteen percent) (the "Associated Administrative
                        Cost”).
                    </li>
                    <li>
                        The timing of the payments we make to Educational Institutions (whether in respect of Pool
                        Funding, Individual Funding or SD Funding) will be at our discretion.
                    </li>
                    <li>
                        If your mobile device or personal computer is lost, stolen or not in your possession, if you
                        have lost or forgotten your password, or you suspect that someone may have unauthorised access
                        to your Feenix account or password, you must immediately use another device to access the
                        Platform and reset your account password.
                        Alternatively, you must notify us in a timely manner as to the loss or other unauthorised use of
                        your sign-in details or Feenix Account via our support email (support@fundfrontier.org) so we
                        can reset your Account password.
                    </li>
                    <li>
                        You may not copy, adapt, modify, alter, de-compile, reverse engineer, attempt to derive the
                        source code of, create derivative works of, or otherwise attempt to reproduce the Platform, the
                        Intellectual Property in it, its content, its design, any updates to it, or
                        any proprietary features in or to it, or any parts of it. This prohibition applies to any
                        content belonging to third parties that is found on the Platform.
                    </li>
                    <li>
                        We may change or discontinue the Platform or any of the services offered by the Platform. If we
                        do, we will not store or keep showing any information or content that you provided us with.
                    </li>
                </ul>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>