  <mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="menu-bar">
      <button mat-menu-item routerLink="login">Login</button>
      <button mat-menu-item routerLink="register">Register</button>
      <button mat-menu-item routerLink="findstudents">Find Students</button>
      <button mat-menu-item routerLink="home">Home</button>
      <button mat-menu-item routerLink="aboutus">About us</button>
      <button mat-menu-item routerLink="students">For Students</button>
      <button mat-menu-item routerLink="funders">For Funders</button>
      <button mat-menu-item routerLink="">Privacy Policy</button>
      <button mat-menu-item routerLink="">Terms and Conditions</button>
    </mat-menu>
    <span class="spacer">Fund Frontier</span>
    <div class="links">
      <a routerLink="home">Home</a>
      <a routerLink="aboutus">About us</a>
      <a routerLink="students">Students</a>
      <a routerLink="funders">Funders</a>
    </div>
  </mat-toolbar>
<router-outlet></router-outlet>
