<mat-toolbar class="header">
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="menu-bar">
    <button mat-menu-item routerLink="login">Login</button>
    <button mat-menu-item routerLink="register">Register</button>
    <button mat-menu-item routerLink="findstudents">Find Students</button>
    <button mat-menu-item routerLink="home">Home</button>
    <button mat-menu-item routerLink="aboutus">About us</button>
    <button mat-menu-item routerLink="students">For Students</button>
    <button mat-menu-item routerLink="funders">For Funders</button>
    <button mat-menu-item routerLink="privacy">Privacy Policy</button>
    <button mat-menu-item routerLink="terms">Terms and Conditions</button>
  </mat-menu>
  <span class="spacer">Fund Frontier</span>
  <div class="links">
    <a routerLink="home">Home</a>
    <a routerLink="aboutus">About us</a>
    <a routerLink="students">Students</a>
    <a routerLink="funders">Funders</a>
    <div *ngIf="loggedin;then content"></div>
    <ng-template #content>
      <a *ngIf="role === 'FUNDER'" routerLink="funderprofile/updatefunder">Profile</a>
      <a *ngIf="role === 'STUDENT'" routerLink="studentprofile/updatestudent">Profile</a>
      <a *ngIf="role === 'ADMIN'" routerLink="adminprofile/editadminprofile">Profile</a>

    </ng-template>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>

<footer>
  <div class="column">
    <h3>ABOUT</h3>
    <h4>The FundFrontier Trust: IT1831.2017</h4>
    <p>We are dedicated to empowering individuals through education and financial support.</p>
    <a routerLink="aboutus">About Us</a>
    <br>
    <a routerLink="terms">Terms and Conditions</a>
    <br>
    <a routerLink="privacy">Privacy Policy</a>
  </div>

  <div class="column">
    <h3>QUICK LINKS</h3>
    <a routerLink="home">Home</a>
    <br>
    <a routerLink="students">Students</a>
    <br>
    <a routerLink="funders">Funders</a>
  </div>

  <div class="column">
    <h3>CONTACT</h3>
    <p>Email: info@fundfrontier.com</p>
    <p>Phone: +1 (123) 456-7890</p>
    <p>Address: 123 Main Street, Cityville, Country</p>
  </div>
</footer>
