.sidenav-container {
  height: calc(100% - 64px); /* Subtract the height of the toolbar */
}

.sidenav {
  width: 250px;
}

.footer {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}