//create a header named innventory and a footer and a side bar with links  using html 
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Inventory</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/orders">Orders</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <footer>
        <hr>
        <p>&copy; 2017 Inventory</p>
      </footer>
    </div>
  </div>

