
  
  <div class="container">
    <form action="">
      <div class="page-title">Verify Your Email</div>
      <mat-form-field>
        <mat-label>Email Id</mat-label>
        <input
          matInput
          [(ngModel)]="otp.otp"
          name="otp"
          required
        />
      </mat-form-field>
      
      <button mat-raised-button color="primary" (click)="verifyOtp()">
        Verify Otp
      </button>
      <hr width="100%" />
      <div>did't receive ? <a routerLink="/login">Resend otp</a></div>
    </form>
  </div>
  <router-outlet></router-outlet>
