@import '~@fortawesome/fontawesome-free/css/all.css';

.form-container {
    height: 400px;
    width: 40%;
    align-items: center;
    margin-top: 50px;
    margin-left: 400px;
    padding: 30px;
    position: fixed;
    box-shadow: 3px 3px 5px 5px rgb(193, 199, 201);
}

.form-container h2,
h3 {
    text-align: center;
}

.form-container div {
    font-family: "Playfair Display";
    font-size: 20px;
    margin-bottom: 25px;
}

.form-container div input {
    margin-top: 15px;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: 1px solid grey;
    outline: none;
    box-sizing: border-box;
    padding-left: 20px;
}

.form-container div input:focus {
    padding-left: 20px;
}

.form-container div span{
    font-size: 15px;
    color: red;
}

.form-container .button-div{
    margin-bottom: 0px;
}

.form-container div button {
    background-color: #9fd3c7;
    height: 50px;
    width: 30%;
    margin-left: 220px;
    cursor: pointer;
    border: none;
    text-align: center;
}

.form-container div a {
    margin-left: 250px;
    font-size: 15px;
}

.form-container div button[disabled]{
    cursor: not-allowed;
}

.form-container .error-msg {
    display: flex;
    font-size: 18px;
    color: red;
    margin-left: 70px;
    font-family: Georgia;

    i {
        font-size: large;
    }
}
