<p>add-transaction works!</p>

<div>
    <button routerLink="/home">Home</button>
    <button>Logout</button>
</div>

<div>
    <div>Enter Transaction</div>
    <form [formGroup]="addTransaction" (ngSubmit)="onSubmit()">
        <label for="category">Category</label>
        <select #category id="category" (change)="categoryUpdate(category.value)" formControlName="category"> 
            <option  default>Select Category</option>
            <option *ngFor="let item of categories" >{{item}}</option>
        </select>
        <label for="transactionType">Transaction Type</label>
        <select #type id="transactionType" (change)="transactionTypeUpdate(type.value)" formControlName="transactionType">
            <option value="" default>Select type</option>
            <option value="{{item}}" *ngFor="let item of transactionTypes" >{{item}}</option>
        </select> 
        <label for="description">Description</label>
        <input type="text" formControlName="description" id="description">
        <label for="date">Date</label>
        <input type="date" id="date" formControlName="date" name="date"> 
        <label for="amount">Amount</label>
        <input type="number" id="amount" formControlName="amount" name="amount">
        <button>Add Transaction</button>
    </form>
</div>  
