<div class="pattern"></div>
<div class="main-banner">
  <div class="banner-content">
    <div class="intro-text">
      <div class="text-bold">Got Outstanding</div>
      <div class="text-thin">Student Debt?</div>
    </div>
  </div>
  <p>
    <strong>Fundraise for it on Fund Frontier.</strong>
  </p>
  <p>
    Fund Frintier is an online fundraising platform that allows you
    to connect with your communities in a safe and secure way.
  </p>
  <button mat-button class="button" routerLink="/header/studententregistration">Start Here</button>

</div>
<div class="pattern"></div>
<div class="info-content">

  <h2 class="h2-content">IS FUND FRONTIER FOR ME</h2>

  <div class="need">
    <mat-card class="card">
      <mat-card-header>
        <mat-icon class="icon">account_circle</mat-icon>
      </mat-card-header>
      <mat-card-content class="content">
        <p>
          Are you an Indian citizen/permanent resident/refugee or asylum seeker?
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <mat-icon class="icon">school</mat-icon>
      </mat-card-header>
      <mat-card-content class="content">
        <p>
          Do you have current or historical debt owing to your university?
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <mat-icon>attach_money</mat-icon>
      </mat-card-header>
      <mat-card-content class="content">
        <p>
          Is your combined household income under Rupees 200000 per year?
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <mat-icon>credit_card</mat-icon>
      </mat-card-header>
      <mat-card-content class="content">
        <p>
          Do you have a certified copy of your identity document?
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <mat-icon>receipt</mat-icon>
      </mat-card-header>
      <mat-card-content class="content">
        <p>
          Do you have an official* fee statement?
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <mat-icon>attach_file</mat-icon>
      </mat-card-header>
      <mat-card-content class="content">
        <p>
          Do you have an valid income certificate ?
        </p>
      </mat-card-content>
    </mat-card>

  </div>
</div>