<div class="spinner-container" *appRoutehide="spinner">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="container"  *appRoutehide="!spinner">
  <div *ngFor="let shortRead of shortReads" class="card">
    <div class="img-div">
      <img src="{{ shortRead.image }}" alt="img" />
    </div>
    <div class="content-div">
      <div class="div-flex">
        <span>Report | {{ shortRead.date }}</span>
        <a [routerLink]="['/user/display-short-reads', shortRead.id]">
          {{ shortRead.title }}</a
        >
      </div>
      <button mat-button matTooltip="Save for later"
      matTooltipClass="example-tooltip-uppercase"
      aria-label="Button that shows a red tooltip"><i class="fa-regular fa-bookmark"></i></button>
    </div>
  </div>
</div>
<div class="button"  *appRoutehide="!spinner">
  <button type="button" (click)="loadMore()">Load more...</button>
</div>
