<div>
    <button routerLink="/add-transaction">Add Transaction</button>
    <button routerLink="/view-statement">View Transaction</button>
    <button (click)="logout()">Logout</button>
</div>
<br>
<br>
<hr>
<div>
    <h1>User Info</h1>
    <div class="profile-info">
        <div>User Since </div>
        <div>{{accountCreationDate}}</div>
        <div>Expenses & Incomes logged</div>
        <div>{{transactions}}</div>
        <div>Last Login</div>
        <div>{{currentDate}}</div>
    </div>
    <br>
    <br>
    <br>
    <h2>Account Details</h2>
    <div class="profile-details">
        <div>Account Number</div>
        <div>{{accountNumber}}</div>
        <div>Bank Name</div>
        <div>{{bankName}}</div>
        <div>Account Type</div>
        <div>{{accountType}}</div>
        <div>Balance</div>
        <div>{{balance}}</div>
    </div>
</div>   
    