<div class="header">
    <div class="logo">WisdomWays</div>
  
    <!-- <div class="search"> -->
      <!-- <i class="fa fa-search"></i>
      <input type="text" name="search" id="search-box" placeholder="Seach for anything"> -->
    <!-- </div> -->
  
    <div class="nav-container">
      <nav>
        <a routerLink="/home">Home</a>
        <a routerLink="/instructor">Instructor</a>
        <a routerLink="/enroll" >Enrollment</a>
        <a routerLink="/anounce">Announce</a>
        <a routerLink="/profile"><i class="fa fa-user" aria-hidden="true"></i></a>
      </nav>
    </div>
  
  </div>
  <router-outlet></router-outlet>

