@import "~@fortawesome/fontawesome-free/css/all.css";
@import "/src/styles/variables";

.header {
  display: flex;
  flex-direction: row;
}

.heading {
  display: flex;
  flex-direction: column;

  h2 {
    font-family: $font-family;
    text-decoration: underline;
  }
  p {
    font-family: $font-family;
    color: grey;
    font-size: 13px;
  }
}

.content,
.subscribe {
  padding: 20px;
  position: absolute;
  img {
    width: 20%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  div {
    font-family: $font-family;
  }
}

.image {
  display: inline;
  margin-right: 10px;
}

.subscribe {
  background-color: white;
  z-index: 10;
  left: 0;
  right: 0;
  margin-top: 100px;
  box-shadow: 4px 4px 5px 5px rgb(224, 233, 237);
  display: flex;
  flex-direction: column;
  padding-left: 300px;
}

.sub-container {
  background-color: white;
  box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.4);
  padding: 10px;
  width: 70%;
}

.subscribe-container {
  border: 10px solid rgba(163, 224, 244, 0.288);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  h1 {
    text-align: center;
    font-family: $font-family;
    font-weight: bolder;
  }
  p {
    text-align: center;
  }
}

.offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.example-card{
  width: 40%;
  margin-left: 50px;
  margin-bottom: 20px;

  .card-head{
    display: flex;
    flex-direction: row;
    padding: 0px;
  }

  img{
    margin: 0px;
    width: 30%;
  }

  .title{
    padding-left: 20px;
    width: 70%;
    font-family: $font-family;
    font-size: 15px;
    padding-top: 20px;
  }
}

.button{
  width: 25%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 300px;
  cursor: pointer;
  border: 1px solid black;

  button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: $font-family;
    cursor: pointer;
  }
}

.button:hover{
  box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.4);
}