.card{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.text-danger{
    font-size: small;
}
.login-btn{
    background-color: rgb(201, 255, 255);
    color: black;
    border: none;
}
.login-btn:hover{
    background-color: rgb(150, 255, 255);
    font-weight: bold;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.login-input{
    border: 2px solid transparent;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom: 2px solid #39A7FF;
}
.login-input:focus{
    border: none;
    box-shadow: none;
    border-radius: 5px;
    border: 2px solid #39A7FF;
}

.logo{
    position: absolute;
    top:2%;
    left:0;
    width:100%;
    display: flex;
    justify-content: center;
}

.bg{
    background-color: rgb(239, 255, 255);
  }
