@import "~@fortawesome/fontawesome-free/css/all.css";
@import "/src/styles/variables";

.container {
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: max-content;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.logo {
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
  z-index: 10;
  font-family: $font-family;
}

.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-para {
  font-size: 50px;
  padding-top: 60px;
}

.second-para {
  padding-top: 40px;
  font-size: 20px;
}

.discount {
  border-radius: 20px;
  width: 20%;
  background-color: rgb(212, 250, 222);
  padding: 5px;
  text-align: center;
  color: green;
}

.card {
  margin-left: 560px;
  padding-top: 20px;
}

.example-card {
  max-width: 400px;
  border-radius: 20px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $tertiary-color;
}


.title {
    font-family: $font-family;
    color: rgb(227, 129, 10);
    margin-bottom: 20px;
    font-size: 20px;
  }

.save {
  width: 20%;
  background-color: rgb(212, 250, 222);
  padding: 5px;
  text-align: center;
  color: green;
  margin-bottom: 20px;
}

.amount {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.amount1{
    font-size: 20px;
    text-decoration:line-through;
    color: rgb(177, 175, 175);
}

.amount2{
    font-size: 30px;
}

.bill{
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    background-color: rgb(246, 192, 192);
    color: red;
}

.button{
    margin-top: 20px;
    background-color: $secondary-color;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 5px;
}


.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

    li{
        padding: 10px;
        border-bottom: 1px solid $tertiary-color;
    }
}
