<div class="heading">
  <h1 appRole requiredRole="EMPLOYEE">BILLING PAGE</h1>
</div>
<div class="search-and-filters">
  <mat-form-field class="example-form-field">
    <mat-label>Search By Product Name</mat-label>
    <input matInput type="text" [(ngModel)]="searchByName" (ngModelChange)="onSearchFilterChange()">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Filter By Branch</mat-label>
    <mat-select [(ngModel)]="branchId" (click)="onBranchSelectClick()">
      <mat-option [value]="" appRole requiredRole="ADMIN" (click)="onSearchFilterChange()">All branches</mat-option>
      <mat-option *ngFor="let branch of branches" [value]="branch._id" (click)="onSearchFilterChange()" appBranch
        requiredBranchId={{branch._id}}>
        {{branch.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Filter By Section</mat-label>
    <mat-select [(ngModel)]="sectionId" (click)="onSectionSelectClick()">
      <mat-option [value]="" appRole requiredRole="ADMIN" (click)="onSearchFilterChange()">All sections</mat-option>
      <mat-option *ngFor="let section of sections" [value]="section._id" (click)="onSearchFilterChange()">
        {{section.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="table-div">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <div>
      <ng-container matColumnDef="Serial Number">
        <th mat-header-cell *matHeaderCellDef> S.No </th>
        <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="Product Name">
        <th mat-header-cell *matHeaderCellDef> Product Name </th>
        <td mat-cell *matCellDef="let product"> {{product.productName}} </td>
      </ng-container>
      <ng-container matColumnDef="Branch">
        <th mat-header-cell *matHeaderCellDef> Branch </th>
        <td mat-cell *matCellDef="let product"> {{product.branch.name}} </td>
      </ng-container>
      <ng-container matColumnDef="Section">
        <th mat-header-cell *matHeaderCellDef> Section </th>
        <td mat-cell *matCellDef="let product"> {{product.section.name}} </td>
      </ng-container>
      <ng-container matColumnDef="COGS">
        <th mat-header-cell *matHeaderCellDef appRole requiredRole="ADMIN"> COGS in Rs.</th>
        <td mat-cell *matCellDef="let product" appRole requiredRole="ADMIN"> {{product.cogs}} </td>
      </ng-container>
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Price in Rs. </th>
        <td mat-cell *matCellDef="let product">{{product.price}} </td>
      </ng-container>
      <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let product"> {{product.totalQuantity}} </td>
      </ng-container>
      <ng-container matColumnDef="Available Quantity">
        <th mat-header-cell *matHeaderCellDef> Available Quantity </th>
        <td mat-cell *matCellDef="let product"> {{product.availableQuantity}} </td>
      </ng-container>
      <ng-container matColumnDef="SelectedQuantity">
        <th mat-header-cell *matHeaderCellDef appPermission requiredPermission="Billing"> Select Quantity </th>
        <td mat-cell *matCellDef="let product" appPermission requiredPermission="Billing">
          <select id="quantity" #quantityDropdown (change)="addToBill(product, quantityDropdown.value)">
            <option *ngFor="let quantity of availableQuantities(product)" [value]="quantity">{{ quantity }}</option>
          </select>
        </td>
      </ng-container>
    </div>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row;index as i; columns: displayedColumns;"></tr>
  </table>
</div>
<br>
<div>
  <mat-paginator [length]="totalProducts" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"
  (page)="onPageChange($event)">
</mat-paginator>
</div>
<div class="button-div">
  <button mat-button appPermission requiredPermission="StoreDetailsManagement" (click)="openProductDialogForm()">Create
    Product</button>
</div>