<div class="container">
  <div class="contents" *ngIf="newsDatas.length > 0">
    <div class="newsContent">
      <div class="title">
        {{ newsDatas[index].title }}
      </div>
      <div class="date">
        {{ newsDatas[index].publishedAt | date}}
      </div>
      <div class="desc">
        {{ newsDatas[index].description }}
      </div>
    </div>
    <div class="image">
      <img src="{{ newsDatas[index].urlToImage }}" alt="" />
    </div>
  </div>
  <div class="main-content">
    <div *ngFor="let news of newsContents" class="card">
      <img src="{{ news.images[0] }}" alt="" />
      <a [routerLink]="['/user/display-news', news.id]">{{ news.title }}</a>
    </div>
  </div>
</div>
