<div *ngIf="appointmentStatuses.length === 0; else pending" class="empty">
  You Have No Appointment
</div>
<ng-template #pending>
  <div class="container">
    <div class="details" *ngFor="let appointmentStatus of appointmentStatuses">
      <img [src]="appointmentStatus.profileUrl" alt="" class="profile" />
      <div class="card">
        Requester Details: <br />
        <span>Name : {{ appointmentStatus.name }}</span>
        <span>Contact Number : {{ appointmentStatus.contactNumber }}</span>
      </div>
      <div class="card">
        Location Details: <br />
        <span>Street : {{ appointmentStatus.location.street }}</span>
        <span>City : {{ appointmentStatus.location.city }}</span>
        <span>District : {{ appointmentStatus.location.district }}</span>
        <span>State : {{ appointmentStatus.location.state }}</span>
        <span>Country : {{ appointmentStatus.location.country }}</span>
      </div>
      <div class="card">
        <span
          >Appointment date
          {{
            appointmentStatus.appointmentStatus.appointmentDate
              | date
              | date : "medium"
          }}</span
        >
      </div>
    </div>
  </div>
</ng-template>
