* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body {
    background: #001e4d;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
}

.app header h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    padding-bottom: 30px;
}

.app header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #043585;
    color: #fff;
    width: 145px;
    height: 45px;
    border: 1px solid #001e4d;
    border-radius: 5px;
    padding: 0 8px;
}

.app header .timer .time_text {
    font-weight: 400;
    font-size: 17px;
    user-select: none;
}

.app header .timer .time_secs {
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    height: 35px;
    width: 45px;
    line-height: 30px;
    text-align: center;
    color: black;
    border-radius: 5px;
}

.app header .time_line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 15px;
    background: #fff;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #333;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}