<div class="form-div">
  <h1>ENTER USER DETAILS</h1>
  <form [formGroup]="enrollUserForm" (ngSubmit)="submit()">
    <div class="form-elements">
      <label for="name">Name:</label>
      <input type="text" id="name" placeholder="Enter User Name" formControlName="name" autocomplete="off">
      <div class="indication" *ngIf="enrollUserForm.get('name')?.invalid && (enrollUserForm.get('name')?.touched || isSaveClicked)">
        <span *ngIf="enrollUserForm.get('name')?.hasError('required')">Username is required.</span>
      </div>
    </div>
    <div class="form-elements">
      <label for="emailId">EmailId:</label>
      <input type="emailId" id="emailId" placeholder="Enter Email Id" formControlName="emailId">
      <div class="indication" *ngIf="enrollUserForm.get('emailId')?.invalid && (enrollUserForm.get('emailId')?.touched || isSaveClicked)">
        <span *ngIf="enrollUserForm.get('emailId')?.hasError('required')">EmailId is required.</span>
        <span *ngIf="enrollUserForm.get('emailId')?.hasError('email')">Please enter a valid emailId.</span>
      </div>
    </div>
    <div class="form-elements">
      <label for="password">Password:</label>
      <input type="password" id="password" placeholder="Enter Password" formControlName="password">
      <div class="indication" *ngIf="enrollUserForm.get('password')?.invalid && (enrollUserForm.get('password')?.touched || isSaveClicked)">
        <span *ngIf="enrollUserForm.get('password')?.hasError('required')">Password is required.</span>
      </div>
    </div>
    <div class="form-elements">
      <label for="branch">Branch:</label>
      <select formControlName="branchId" id="branch">
        <option value="" disabled>Select Branch</option>
        <option *ngFor="let branch of branches" [ngValue]="branch._id" appBranch requiredBranchId={{branch._id}}>{{ branch.name }}</option>
      </select>
      <div class="indication" *ngIf="enrollUserForm.get('branchId')?.invalid && (enrollUserForm.get('branchId')?.touched || isSaveClicked)">
        <span *ngIf="enrollUserForm.get('role')?.hasError('required')">Role is required.</span>
      </div>
    </div>
    <div class="form-elements">
      <label for="role">Role:</label>
      <select id="role" formControlName="role">
        <option value="" disabled>Select Role</option>
        <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
      </select>
      <div class="indication" *ngIf="enrollUserForm.get('role')?.invalid && (enrollUserForm.get('role')?.touched || isSaveClicked)">
        <span *ngIf="enrollUserForm.get('role')?.hasError('required')">Role is required.</span>
      </div>
    </div>
    <div class="form-elements">
      <button type="submit" [disabled]="isLoading">Submit</button>
      <button type="button" (click)="closeEnrollUserForm()">Close</button>
    </div>
  </form>
</div>