@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #cccbcb;
    font-family: 'Poppins', sans-serif;
}

#quizBody {
    width: 600px;
    text-align: justify;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h4 {
    margin-bottom: 10px;
    color: #313030;
}

.radio-container {
    display: flex;
    align-items: center;
}

.inner-div {
    display: block;
    padding: 10px;
    margin: 5px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.inner-div:hover {
    background-color: #a5a7a5;
    cursor: pointer;
}

.inner-div label {
    padding-left: 10px;
}

.inner-div input {
    cursor: pointer;
}

input[type="submit"] {
    margin-left: 240px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #525352;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.multiple-dropdown {
    height: 100px;
    width: 550px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
}

.dropdown {
    width: 550px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 2px;
    font-family: 'Poppins', sans-serif;
}

.input {
    width: 550px;
    padding: 10px;
    border: none;
}

.input:focus {
    outline: none;
}

#result {
    display: block;
    margin-top: 10px;
    border: 5px solid #313030;
    border-radius: 10px;
    text-align: center;
    color: #1a0c41;
}

.inner-div.checked {
    background-color: #f37474;
}

.time {
    background-color: rgb(182, 174, 174);
    position: sticky;
    left: 10px;
    top: 10px;
    padding: 5px 5px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: #ee464f;

}