<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>About Doctor Appointment Booking</title>
</head>
<body>
  <h1>About Doctor Appointment Booking</h1>
  <br>
  <p>Welcome to the Doctor Appointment Booking application. This application allows users to conveniently book appointments with their preferred doctors online.</p>
  <br>
  <h2>Features:</h2>
  <ul>
    <li>Easy appointment booking process</li>
    <li>Selection of preferred doctor</li>
    <li>Flexible date and time selection</li>
    <li>Confirmation message after successful appointment booking</li>
  </ul>
  <br>
  
  <h2>How to Use:</h2>
  <ol>
    <li>Go to the <a class="link" routerLink="/dashboard/doctor"><u>Booking Page</u></a> to book your appointment.</li>
    <li>Fill in your details and select your preferred doctor, date, and time.</li>
    <li>Click the "Book Appointment" button to confirm your booking.</li>
    <li>After successful booking, you will see a confirmation message.</li>
  </ol>
  <br>
  
  <p>Thank you for choosing our Doctor Appointment Booking application for your healthcare needs!</p>
</body>
</html>