<div class="privacybg">
  <div class="container">
    <h2>SERVICES</h2>
    <ul>
      <li>
        Students applying for funding of their tertiary education fees or
        outstanding tuition balances at Educational Institutions in South Africa
      </li>
      <li>Household members of students applying for funding</li>
      <li>
        Individuals or entities considering, or submitting, donations towards
        tuition fees
      </li>
      <li>
        Educational Institutions where students are registered and to whom
        students require assistance with tuition fees
      </li>
      <li>
        Individuals or entities requesting information on our tertiary education
        funding programs or campaigns
      </li>
      <li>
        Individuals or entities requesting information on our organisation
      </li>

      <h2>HOW WE COLLECT PERSONAL INFORMATION</h2>
      <li>
        When you provide it to us when you sign-up and create your profile on
        our Feenix Platform, or when you provide it to us via email for
        registration on the Fund Frontier Platform
      </li>
      <li>
        When you submit it to us through a Social Media platform, or social
        media communication tool such as Facebook Messenger or WhatsApp
      </li>
      <li>
        When you communicate with us or we obtain feedback from you by email,
        telephone, our website contact/enquiry forms, or any other means of
        communication
      </li>
      <li>
        We provide support and customer services to you as per your request via
        our support systems
      </li>
      <li>
        When you register for any events, workshops or seminars via email, our
        website, social media channels or in response to any other electronic
        communications
      </li>
      <li>
        When we obtain it from third parties to verify the information provided
        by you in order to determine your eligibility for our services to the
        extent that this is permitted by the law
      </li>
      <li>
        When we obtain it from payment service providers to verify, reconcile
        and conclude financial transactions with you
      </li>
      <li>
        When we request it from third parties on your behalf as consented to by
        you in accordance with our Terms and Conditions in order to fulfil our
        service obligations to you
      </li>
    </ul>
  </div>
</div>