<div *ngIf="adoptionDetails.length === 0;else pending">
    You Have No Pending Adoption Request
    </div>
    <ng-template #pending>
        <div class="container">
            <div class="details" *ngFor="let adoptionDetail of adoptionDetails">
              <!-- <img [src]="adoptionDetail.profileUrl" alt="" class="profile"/> -->
              <div class="card">
                Requester Details: <br>
                <span>Number of adults : {{ adoptionDetail.noOfAdults }}</span>
                <span>Number of children : {{ adoptionDetail.noOfChildren }}</span>
                <span>Any one in family allergy to animal: {{ adoptionDetail.allergyToAnimal }}</span>
                <span>Family acceptance of adoption: {{ adoptionDetail.familyAcceptance }}</span>
                <span>Home type : {{ adoptionDetail.homeType }}</span>
                <span>Requested Date : {{ adoptionDetail.requestDate | date | date : 'medium' }}</span>
                
              </div>
              <div class="card">
                  Pet Details <br>
                  <span>Breed : {{ adoptionDetail.petPostId.breed }}</span>
                  <span>Category : {{ adoptionDetail.petPostId.category }}</span>
                  <span>Gender : {{ adoptionDetail.petPostId.gender }}</span>
                </div>
                <div class="card">
                    <button   type="button" (click)="updateAdoptionStatus(adoptionDetail._id||'','accepted')" class="accept">Accept</button>
                    <button  type="button" (click)="updateAdoptionStatus(adoptionDetail._id||'','rejected')" class="reject">Reject</button>
                </div>
            </div>
          </div>
          
    </ng-template>