div{
    margin-top: 100px;
    margin-left: 400px;
    padding: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    background-color: burlywood;
    width: 40%;
}