/* .signUpPage{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
}

.leftSection{
    background-color: #0288D1;
}

.rightSection{
    
}

.brandDetails{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
}


img{
    max-width: 30px;
    max-height: 30px;
} */
