<div class="pattern"></div>
<section class="main-banner about-banner">
  <div class="banner-content">
    <div class="intro-text">
      <span class="text-bold">ABOUT US</span>
    </div>
    <h3>ACCESSING EDUCATION, TRANSFORMING LIVES</h3>
    <p>
      Fund Frontier is a public-benefit organisation, launched in June 2017 in response
      to India's #FeesMustFall movement, with the belief that access to
      education should not be dependent on wealth. Our founding partner,
      Standard Bank, shares in this belief and without their financial support
      and guidance, Fund Frontier would not be in existence today.
    </p>
    <p>
      We help make education more accessible by connecting tertiary students in
      need to donor communities looking to make a difference through a secure
      <a routerLink="/header/funders">Crowdfunding</a>
      platform where students actively fundraise for their studies and through
      partnership with forward-thinking
      <a routerLink="/header/students">Businesses</a>
      , where we administer Skills Development Bursary program opportunities on
      their behalf. In addition, we intentionally educate and equip young people
      to thrive through holistic support focussed interventions, enabling
      financial literacy, job readiness and personal mastery.
      <br />
      <br />

      Our team is a vibrant tapestry of youth, diversity, and an unwavering
      commitment to have a lasting impact by enabling everyday people and
      businesses to solve an everyday problem. In 2020, we expanded our impact
      with
      <a class="about-us-wafunda-cta link" routerLink="https://wafunda.com/" target="_blank">WaFunda</a>
      , a Fund Frontier Social Enterprise which is 100% owned by the Fund Frontier Trust and
      is an Exempted Micro Enterprise (EME) as defined in the B-BBEE Act.
      WaFunda is fueled by a singular purpose: driving social change in harmony
      with Fund Frontier's vision.
      <br />
      <br />

      Together, Fund Frontier and WaFunda are dedicated to empowering students,
      dismantling educational barriers, and fostering a more inclusive society.
      <br />
      Join us in transforming lives through education.
      <br />
      <br />
    </p>
  </div>
</section>
<div class="pattern"></div>

<div class="vision-mission">
  <mat-card class="card">
    <mat-card-header>
      <h2 class="card-header">OUR MISSION</h2>
    </mat-card-header>
    <mat-card-content class="content">
      <p>
        To connect communities in an innovative way to achieve debt-free education,
        as well as to educate and equip young people to thrive.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <h2 class="card-header">OUR VISION</h2>
    </mat-card-header>
    <mat-card-content class="content">
      <p>
        A society in which all young people are able to fulfill their potential
        regardless of wealth and positively contribute toward a healthier society.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="video">
  <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
  </iframe>
</div>