  <div class="header">
    <h2>Users List</h2>
  </div>
<div class="body">

  <div *ngFor="let x of users" class="box">
    <label class="name">First Name: {{ x.firstname }}</label>
    <br />
    <label class="name">Last Name: {{ x.lastname }}</label>
    <br />
    <label class="name">Email: {{ x.email }}</label>
    <br />
    <label class="name">Phone no: {{ x.phoneno }}</label>
    <br />
    <label class="name">Role: {{ x.role }}</label>
    <br />
    <br />
    <button mat-raised-button color="primary" class="buttons" 
        (click)="openDialog({
          id: x.id,
          firstname: x.firstname,
          lastname: x.lastname,
          email: x.email,
          phoneno: x.phoneno,
          role: x.role,
          flag: true
        })">Edit
  </button>
  </div>
  <div class="footer">
    <button mat-raised-button color="primary"(click)="previousPage()" [disabled]="currentPage === 0">Previous</button>
    <button mat-raised-button color="primary" (click)="nextPage()" [disabled]=lastpage>Next</button>
  </div>
</div>
