<div class="container">
  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget">
      <div class="tradingview-widget-copyright" #trading2></div>
    </div>
  </div>

  <div id="trading-view-container" class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright" #trading4></div>
  </div>

  <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget">
      <div class="tradingview-widget-copyright" #trading3></div>
    </div>
  </div>

  <div id="trading-view-container" class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright" #trading1></div>
  </div>

  <div id="trading-view-container" class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright" #trading></div>
  </div>
</div>
