<div class="form-container">
    <h2>Welcome!</h2>
    <form #teachForm="ngForm" (ngSubmit)="onTeach(teachForm)">

        <div>
            <label for="instructor-name">Name (This name will be displayed as a Instructor name):</label>
            <input type="text" #instructorName="ngModel" id="instructor-name" placeholder="Grace.S" ngModel name="instructorName" required>
            <span *ngIf="!instructorName.valid && (instructorName.touched || instructorName.dirty)">
                Please enter name
            </span>
        </div>
        
        <div>
            <label for="bio">Description :</label>
            <input type="text" #bio="ngModel" id="bio" placeholder="Tell about you" ngModel
                name="bio" required>
            <span *ngIf="!bio.valid && (bio.touched || bio.dirty)">
                Please enter the field
            </span>
        </div>

        <div>
            <label for="students">Total students you have : :</label>
            <input type="text" #students="ngModel" id="students" placeholder="0" ngModel
                name="students" required>
            <span *ngIf="!students.valid && (students.touched || students.dirty)">
                Please enter number
            </span>
        </div>

        <div class="button-div">
            <button type="submit" [disabled]="!teachForm.valid">Next</button>
        </div>
    </form>
</div>