<div class="sub-container">
  <div class="subscribe-container">
    <div>
      <img src="/favicon.ico" alt="logo" />
      <h1>Get InsightNow Prime Membership</h1>
    </div>
    <p>Enjoy members-only benefits</p>

    <div class="offers">
      <mat-card class="example-card">
        <div class="card-head">
          <img mat-card-sm-image src="/assets/daily-news.jpeg" />
          <div class="title">Get Daily News</div>
        </div>
      </mat-card>
      <mat-card class="example-card">
        <div class="card-head">
          <img mat-card-sm-image src="/assets/breaking-news.jpg" />
          <div class="title">Stay updated with breaking stories!</div>
        </div>
      </mat-card>
      <mat-card class="example-card">
        <div class="card-head">
          <img mat-card-sm-image src="/assets/news-feed.png" />
          <div class="title">Custom News Feed</div>
        </div>
      </mat-card>
      <mat-card class="example-card">
        <div class="card-head">
          <img mat-card-sm-image src="/assets/stock.jpg" />
          <div class="title">Get Stock Reports</div>
        </div>
      </mat-card>
    </div>
    <div class="save">
        Flat 20% discount
    </div>
    <div class="button">
      <button type="button" (click)="onClick()">Subscribe Now</button>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>
