<div>
    <h1>User Info</h1>
    <div>
        <div>User Since     --- </div>
        <div>Expenses & Incomes logged     --- </div>
        <div>Last Login   --- </div>
    </div>
    <div>
        <form [formGroup]="addAccount" (ngSubmit)="onSubmit()">
            <h2>Account Details</h2>
            <label>Account Number</label>
            <input type="text" formControlName="accountNumber">
            <label>Bank Name</label>
            <input type="text" formControlName="bankName">
            <label>Account Type</label>
            <select #type id="transactionType" (change)="accountTypeChange(type.value)" formControlName="accountType">
                <option default>Select Account Type</option>
                <option *ngFor="let item of accountTypes" >{{item}}</option>
            </select> 

            <label>Financial Advisor Name</label>
            <input type="text" formControlName="financialAdvisorName">
            <label>Balance</label>
            <input type="number" formControlName="balance">
            <button type="submit">Add Account</button>  
        </form>
    </div>
</div>   