.form-div{
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-family: 'Salsa', cursive;
}
.quiz-start-button{
  color: white;
  border-radius: 20px;
  border: 2px solid;
  border-color: black;
  background-color: rgb(21, 21, 48);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-family: 'Salsa', cursive;
  
}
.quiz-form{
  align-items: center;
  background-color: rgb(240, 237, 237);
  border: 3px solid;
  border-color: black;
  border-radius: 10px;
  width: 800px;
  padding-left: 40px;
  padding-bottom: 40px;
}
.correct-answer{
  border: 2px black solid;
  border-radius: 2px;
  background-color: rgb(72, 255, 182);
  border: 2px solid rgb(0, 164, 58);
}
.right-answer{
  border: 2px solid rgb(0, 164, 58);
  color: rgb(72, 255, 182);
  background-color: rgb(72, 255, 182);
}
.question-container{
  margin-top: 20px;
}
.qlabel{
  margin-bottom: 10px;
}
.choice-label:hover{
  cursor: pointer;
}
.wrong-answer{
  border: 2px black solid;
  border-radius: 2px;
  background-color: rgb(255, 118, 118);
}
.qlabel{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.disabled-select{
  display: none;
}
.choice-div{
  margin-top: 4px;
}