.form-div{
  background-color: rgb(241, 214, 214);
}
.quiz-start-button{
  color: white;
  border-radius: 20px;
  border: 2px solid;
  border-color: black;
  background-color: blue;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.quiz-form{
  border: 3px solid;
  border-color: black;
}
.question-container{
  margin-top: 20px;
}
.qlabel{
  margin-bottom: 10px;
}
