<div class="funder">
    <video poster="/assets/images/pexels-mart-production-8472874.jpg" controls>
        <source src="/assets/images/production_id_3819342 (1080p).mp4" type="video/mp4">
    </video>
</div>
<div class="donate">
    <span>Change the lives of Students</span>
    <button mat-button class="button" routerLink="/header/findstudents">Donate Now</button>
</div>
<div class="pattern"></div>
<div class="card-container">
    <mat-card class="card">
        <mat-card-header>
            MAKE A POSITIVE IMPACT
        </mat-card-header>
        <mat-card-content>
            Fundraisers have the power to directly influence positive change by
            channeling their efforts into addressing critical issues, turning empathy
            into tangible support for causes that truly matter.
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
            BUILD A STRONGER COMMUNITY
        </mat-card-header>
        <mat-card-content>
            Through fundraising, individuals not only contribute to their community's
            well-being but also forge lasting connections with fellow fundraisers,
            creating a supportive network that amplifies the impact of collective efforts and shared goals.
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
            DEVELOP VALUABLE SKILLS
        </mat-card-header>
        <mat-card-content>
            Fundraising serves as a dynamic learning ground, offering individuals the chance to hone essential skills
            such as effective communication, event organization, resource management, and relationship-building,
            fostering personal and professional growth.
        </mat-card-content>
    </mat-card>
    <mat-card class="card">
        <mat-card-header>
            BE A APRT OF MOVEMENT
        </mat-card-header>
        <mat-card-content>
            Fundraisers become integral parts of movements dedicated to positive change,
            actively contributing to the momentum behind important causes, be it social
            justice, environmental sustainability, or scientific advancements, providing a
            fulfilling sense of purpose and shared commitment.
        </mat-card-content>
    </mat-card>
</div>