.funder {
    width: 100%;
    background-color: #3a0b2a;
    background-size: cover;
}


video[poster] {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.button {
    background-color: rgb(79, 156, 79);
    color: white;
    padding: 5px 15px;
    margin-left: 500px;
    margin-top: 5px;
}

.donate {
    // background-color: #380944;
    background-image: url('/assets/images/funderpattern.jpeg');
    height: 50px;
    width: 100%;
    text-align: center;
}

span {
    color: white;
    font-size: 20px;
    // margin-top: 20px;
}

.pattern {
    background-color: #3a0b2a;
    height: 6px;
}

.card-container {
    //margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f7e0ef;
    padding-top: 20px;
}

.card {
    padding: 10px;
    width: 450px;
    height: 170px;
    margin-right: 30px;
    margin-bottom: 30px;
}

mat-card-header {
    color: #3a0b2a;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 10px;
}