<div>
    <button routerLink="/home">Home</button>
</div>

<div *ngIf="totalTransaction !== 0;else template1">
    <div class="transaction-info">
        <div>
            <input type="date" name="startDate" [(ngModel)]="startDate" (change)="dateChange()">
            <div>Start Date</div>
        </div>
        <div>    
            <input type="date" name="endDate" [(ngModel)]="endDate" (change)="dateChange()">
            <div>End Date</div>
        </div>
        <div>
            <div>{{totalTransaction}} No of Transactions</div>
        </div>
        <div>
            <div>{{totalAmount.getValue()}} Total Amount</div>
        </div>
    </div>
    <div>
        <button>View Analytics</button>
        <div>
            <select name="" id="">
                <option value="" default>Sort By</option>
                <option value="Date">Date</option>
                <option value="Category">Category</option>
            </select>
        </div>
    </div>
    <div class="transaction-details">
        <div class="row-heading">
            <div>Category</div>
            <div>Description</div>
            <div>Date</div>
            <div>Amount</div>
            <div>Opening Balance</div>
            <div>Closing Balance</div>
            <div *ngIf="role != 'FINANCIAL_ADVISOR'">hidden</div>
        </div>
        <div class="statement-item" *ngFor="let item of data1">
            <div>{{item.category}}</div>
            <div>{{item.description}}</div>
            <div>{{item.date}}</div>
            <div [ngStyle]="{color: item.transactionType === 'INCOME' ? 'green' : 'red'}">{{item.amount}}</div>
            <div>{{item.openingBalance}}</div>
            <div>{{item.closingBalance}}</div>
            <div>
                <button (click)="editData(item)">Edit</button>
                <button>Delete</button>
            </div>
        </div>
    </div>
</div>
<ng-template #template1>
    <div>No record Found</div>
</ng-template>