@font-face {
    font-family: spain;
    src: url(Lemon-Regular.ttf);
}

@font-face {
    font-family: bombay;
    src: url(Poppins-Light.ttf);
}

@font-face {
    font-family: italy;
    src: url(Poppins-SemiBold.ttf);
}

@font-face {
    font-family: america;
    src: url(Poppins-Regular.ttf);
}

.form-div {
    background: whitesmoke;
    display: flex;
    justify-content: center;
    font-family: america;
}

h1 {
    text-align: center;
}

.quiz-start-button {
    color: white;
    border-radius: 20px;
    border: 2px solid;
    border-color: black;
    background-color: blue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-family: 'Salsa', cursive;

}

.quiz-form {
    align-items: center;
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border: 3px solid;
    border-color: black;
    width: 800px;
    padding-left: 40px;
    padding-bottom: 40px;
    border-radius: 2em;
}

.question-container {
    margin-top: 20px;
}

.qlabel {
    margin-bottom: 10px;
    font-family: spain;
}

.choice-label:hover {
    cursor: pointer;
    background-color: rgba(148, 187, 233, 1);
}

.correct-answer {
    border: 2px black solid;
    border-radius: 2px;
    background-color: rgb(16, 228, 16);
}

.wrong-answer {
    border: 2px black solid;
    border-radius: 2px;
    background-color: rgb(224, 42, 42);
}

.disabled-select {
    display: none;
}