@import "~@fortawesome/fontawesome-free/css/all.css";
@import "/src/styles/variables";

.form-container {
  padding: 30px;
}

.form-container table {
  font-family: $font-family;
  font-size: 15px;
}

.form-container table input {
  margin-top: 7px;
  margin-bottom: 15px;
  width: 100%;
  height: 30px;
  border: 1px solid grey;
  outline: none;
  box-sizing: border-box;
  padding-left: 20px;
}

.form-container div input:focus {
  padding-left: 20px;
}

.form-container .button-div {
  margin-bottom: 0px;
}

.form-container table button {
    background-color: $secondary-color;
    height: 50px;
    width: 30%;
    cursor: pointer;
    border: none;
    text-align: center;
    margin-right: 10px;
    color: white;
  }

  span {
    color: red;
    font-size: 10px;
  }