<div class="container">
  <mat-card class="example-card" *ngIf="user">
    <mat-card-header class="head">
      <mat-card-subtitle class="subtitle">About</mat-card-subtitle>
    </mat-card-header>

    <div class="content">
      <div class="info-div">
        <h3>First Name:</h3>
        <p>{{user.firstName}}</p>
      </div>
      <div class="info-div">
        <h3>Last Name:</h3>
        <p>{{user.lastName}}</p>
      </div>
      <div class="info-div">
        <h3>Email:</h3>
        <p>{{user.email}}</p>
      </div>
      <div class="info-div">
        <h3>Phone No:</h3>
        <p>{{user.phoneNo}}</p>
      </div>
      <div class="info-div">
        <h3>Occupation:</h3>
        <p>{{user.occupation}}</p>
      </div>
      <div class="info-div">
        <h3>Location:</h3>
        <p>{{user.location}}</p>
      </div>

      <mat-card-actions>
        <button mat-button class="edit" (click)="openDialog()"><i class="fa-regular fa-pen-to-square"></i></button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
