<div class="container">
  <div class="registerBox">
    <div class="logout">
      <h1 class="head">Profile Details</h1>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="logout-menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </div>
    <form class="form" [formGroup]="formResponse" (ngSubmit)="register()">
        <label class="labels">Profile Photo</label>
        <div class="profile">
          
            <img [src]="adopter.profilePhoto | imagePathConverter" alt="">
           <input
              type="file"
              formControlName="image"
              id="upload"
              (change)="getProfile($event)"
            /></div>
        
      <mat-form-field class="feild">
        <mat-label>Full Name</mat-label>
        <input type="text" matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field class="feild">
        <mat-label>Occupation</mat-label>
        <input type="text" matInput formControlName="occupation" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field class="feild">
        <mat-label>Contact Number</mat-label>
        <input type="text" matInput formControlName="contactNumber" />
      </mat-form-field>
      Location Details
      <div formGroupName="location" class="location">
        <mat-form-field class="feild">
          <mat-label>Door No</mat-label>
          <input type="text" matInput formControlName="doorNo" />
        </mat-form-field>
        <mat-form-field class="feild">
          <mat-label>street</mat-label>
          <input type="text" matInput formControlName="street" />
        </mat-form-field>
        <mat-form-field class="feild">
          <mat-label>City</mat-label>
          <input type="text" matInput formControlName="city" />
        </mat-form-field>
        <mat-form-field class="feild">
          <mat-label>District</mat-label>
          <input type="text" matInput formControlName="district" />
        </mat-form-field>
        <mat-form-field class="feild">
          <mat-label>State</mat-label>
          <input type="text" matInput formControlName="state" />
        </mat-form-field>
        <mat-form-field class="feild">
          <mat-label>Country</mat-label>
          <input type="text" matInput formControlName="country" />
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
  </div>
</div>
