<h1>Login Page</h1>
<div class="form-div">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="emailId">Email Id:</label>
      <input type="text" id="emailId" formControlName="emailId" autocomplete ="off">
      <div *ngIf="loginForm.get('emailId')?.invalid && loginForm.get('emailId')?.touched">
        <span *ngIf="loginForm.get('emailId')?.hasError('required')">EmailId is required</span>
        <span *ngIf="loginForm.get('emailId')?.hasError('email')">Please enter a valid emailId.</span>
      </div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" autocomplete ="off">
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <span *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</span>
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid || isLoading">Login</button>
  </form>
</div>
