<mat-tab-group>
  <mat-tab label="Organization Request">
    <div *ngFor="let organization of organizations">
      <app-request-registration-list
        [requestOrganization]="organization"
        type="organization"
      ></app-request-registration-list>
    </div>
  </mat-tab>
  <mat-tab label="Veterinary Doctor Request"> 
    <div *ngFor="let veterinaryDoctor of veterinaryDoctors">
        <app-request-registration-list
          [requestVeterinaryDoctor]="veterinaryDoctor"
          type="veterinaryDoctor"
        ></app-request-registration-list>
      </div>
  </mat-tab>
</mat-tab-group>
