<app-admin-nav-bar></app-admin-nav-bar>
<!-- <mat-tab-group>
<mat-tab-group (selectedTabChange)="click($event)">
  <mat-tab label="Organization Request">
    <div *ngIf="organizations.length === 0" class="content">No request pending</div>
    <div *ngFor="let organization of organizations">
      <app-organization-registration-request-card
        [requestOrganization]="organization"
        type="organization"
      ></app-organization-registration-request-card>
    </div>
  </mat-tab>
  <mat-tab label="Veterinary Doctor Request"> 
    <div *ngIf="veterinaryDoctors.length === 0" class="content">No request pending</div>
    <div *ngFor="let veterinaryDoctor of veterinaryDoctors">
        <app-doctor-registration-request-card
          [requestVeterinaryDoctor]="veterinaryDoctor"
        ></app-doctor-registration-request-card>
      </div>
  </mat-tab>
</mat-tab-group> -->
